/*
Flaticon icon font: Flaticon
Creation date: 22/06/2016 15:13
*/

@font-face {
    font-family: "wine";
    src: url("../fonts/wine.eot");
    src: url("../fonts/wine.eot?#iefix") format("embedded-opentype"), url("../fonts/wine.woff") format("woff"), url("../fonts/wine.ttf") format("truetype"), url("../fonts/wine.svg#wine") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
    }
}

.font-wine() {
  font-family: wine;
  text-decoration: none !important;
}
.fi:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}


/*----------  testadf  ----------*/

.flaticon-bunch-of-grapes:before {
    content: "\f100";
    .font-wine;
}

.flaticon-corkscrews-and-bottle-of-wine:before {
    content: "\f101";
    .font-wine;
}

.flaticon-glass-and-bottle-of-wine:before {
    content: "\f102";
    .font-wine;
}

.flaticon-glass-of-wine:before {
    content: "\f103";
    .font-wine;
}

.flaticon-glass-of-wine-1:before {
    content: "\f104";
    .font-wine;
}

.flaticon-glass-with-wine:before {
    content: "\f105";
    .font-wine;
}

.flaticon-glass-with-wine-1:before {
    content: "\f106";
    .font-wine;
}

.flaticon-glasses-with-wine:before {
    content: "\f107";
    .font-wine;
}

.flaticon-ice-bucket-and-bottle:before {
    content: "\f108";
    .font-wine;
}

.flaticon-sorkscrew:before {
    content: "\f109";
    .font-wine;
}

.flaticon-wine-barrel:before {
    content: "\f10a";
    .font-wine;
}

.flaticon-wine-bottle:before {
    content: "\f10b";
    .font-wine;
}

.flaticon-wine-bottle-1:before {
    content: "\f10c";
    .font-wine;
}

.flaticon-wine-bottles:before {
    content: "\f10d";
    .font-wine;
}

.flaticon-wine-list:before {
    content: "\f10e";
    .font-wine;
}
