@import 'sassassets';

/*===============================
=            Buttons            =
===============================*/

.btn-black {
    a {
        color: $black;
        text-decoration: none;
    }
    margin: 10px 0;
    border: 4px solid $black;
    font-weight: 700;
    border-radius: 0;
    width: 140px;
    height: 50px;
    color: $black;
    transition: 0.5s;
    background-color: #fff;
    &.no-trans{
        transition: none;
        &.active, &:hover{
            transition: none;
        }
    }
    &:hover,
    &.active {
        cursor: pointer;
        background-color: $black;
        transition: 0.5s;
        color: #fff;
        a {
            color: #fff;
        }
    }
    &:focus {
        outline: none;
    }
    &.btn-grey{
        background-color: $grey-light;
        &:hover{
            background-color: $black;
        }
    }
}

.input-black {
    a {
        color: $black;
        text-decoration: none;
    }
    margin: 0 0 10px 0;
    padding-left: 10px;
    border: 4px solid $black;
    border-radius: 0;
    height: 50px;
    width: 100%;
    display: block;
    color: $black;
    transition: 0.5s;
    background-color: #fff;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: $black;
    }
    &.square-input{
        width: 50px;
    }
}

.btn-sm {
    height: 100px;
    width: 100px;
    margin: 0;
}

.btn-red {
    a {
        color: #fff;
        text-decoration: none;
    }
    border: 0;
    border-radius: 0;
    width: 120px;
    height: 40px;
    color: #fff;
    background-color: $red;
    &.on-wine {
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        transition: opacity 0.2s linear;
    }
    &:hover {
        cursor: pointer;
        background-color: $black;
        transition: 0.2s;
    }
    &:focus {
        outline: none;
    }
}


/*=====  End of Buttons  ======*/
