@import 'sassassets';
.footer {
    background-color: $black;
    color: $white;
    h4 {
        padding-bottom: 20px;
    }
}

.footer-body {
    >div {
        a {
            color: $white;
            font-weight: 300;
            margin: 0;
            padding: 0;
            display: inline-block;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            color: $white;
            font-weight: 300;
            margin: 0;
            padding: 0;
            display: inline-block;
        }
    }
}

.copyright {
    font-weight: 300;
    padding: 20px;
}

.footer-social {
    a {
        &:hover {
            text-decoration: none !important;
        }
    }
    i {
        @extend %flexbox;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }
    span {
        text-align: left;
        &:hover {
            text-decoration: underline;
        }
    }
}
