    @import 'sassassets';
    /*==============================
    =            NAVBAR            =
    ==============================*/
    
    .order-summary__items {
        padding: 15px;
        border-top: 1px solid $grey-light;
        >div {
            position: relative;
        }
        img {
            max-width: 100%;
            width: auto;
            max-height: 100px;
        }
        p {
            color: $black;
            text-align: left;
        }
        a {
            position: absolute;
            top: 0;
            right: 20px;
            i {
                padding: 0 !important;
            }
        }
    }
    
    .emptyCart {
        border-top: 1px solid $grey-light;
    }
    
    .nav-item {
        .nav-link {
            padding: 23.5px 1.5em;
            color: inherit;
            font-size: 18px;
            font-weight: 300;
        }
        color: $black;
        &:hover,
        &.active {
            color: $red;
            border-bottom: 6px solid $red;
            transition: 0.1s;
        }
    }
    
    .navbar {
        z-index: 1001;
        padding: 0 15px;
        height: 180px;
        background: $white;
        transition: 0.6s;
        @media screen and (max-width: 992px) {
            height: 80px;
        }
        .navbar__main-logo {
            display: block;
            height: 100px;
            margin: auto;
            opacity: 1;
            visibility: visible;
            transition: 0.6s;
        }
        .navbar-bottom {
            position: relative;
            background: $white;
            .navbar__mobile-icon {
                height: 80px;
                padding: 15px;
            }
            .navbar__secondary-logo {
                height: 80px;
                padding: 15px;
                left: 20px;
                position: fixed;
                top: 100px;
                opacity: 0;
                visibility: none;
                transition: 0.6s;
            }
            .navbar__hamburger-icon {
                position: fixed;
                top: 0;
                left: 20px;
                font-size: 30px;
                padding: 25px;
                color: $black;
                cursor: pointer;
            }
            .nav-secondary {
                position: fixed;
                width: 100%;
                left: 0;
                transition: 0.6s;
                top: 80px;
                background: $white;
                height: 0;
                transition: 0.6s;
                overflow: scroll;
                > * {
                    display: none;
                }
                &.active {
                    height: calc(100% - 80px);
                    > * {
                        display: block;
                    }
                }
            }
            .navbar__cart-icon {
                position: absolute;
                right: 20px;
                top: 0;
                cursor: pointer;
                color: $black;
                z-index: 1004;
                i {
                    font-size: 30px;
                    vertical-align: middle;
                    padding: 25px 10px 25px 25px;
                }
                span {
                    vertical-align: middle;
                }
            }
            .navbar__cart {
                top: 180px;
                @media screen and (max-width: 992px) {
                    top: 80px !important;
                }
                right: 0;
                position: fixed;
                .navbar__cart-container {
                    position: absolute;
                    top: 80px;
                    right: 0;
                    max-width: 420px;
                    width: 100%;
                    height: 0;
                    background: $white;
                    border: 1px solid $grey-light;
                    color: $grey;
                    opacity: 0;
                    visibility: none;
                    transition: 0.3s;
                    padding: 0 15px;
                    > * {
                        display: none;
                    }
                    h3 {
                        font-weight: 300;
                    }
                    >span {
                        padding: 10px;
                        text-transform: italic;
                        border-top: 1px solid $grey-light;
                        font-weight: 300;
                    }
                }
                &.active {
                    width: 100%;
                    height: 100%;
                    .navbar__cart-container {
                        top: 0;
                        opacity: 1;
                        visibility: visible;
                        transition: 0.3s;
                        padding: 15px;
                        min-height: 488px;
                        height: auto;
                        max-height: calc(100% - 180px);
                        @media screen and (max-width: 992px) {
                            max-height: calc(100% - 80px);
                        }
                        > * {
                            display: block;
                        }
                        .navbar__cart-body {
                            flex: 1;
                            overflow: hidden;
                            overflow-y: auto;
                        }
                    }
                }
            }
            &.active {
                position: fixed;
                height: 80px;
                top: 0;
                right: 15px;
                left: 15px;
                -webkit-box-shadow: 0 2px 4px 0 rgba(76, 76, 75, .1);
                -moz-box-shadow: 0 2px 4px 0 rgba(76, 76, 75, .1);
                box-shadow: 0 2px 4px 0 rgba(76, 76, 75, .1);
                transition: 0.6s;
                .navbar__menu {
                    top: 0;
                    transition: 0.4s;
                }
                .navbar__secondary-logo {
                    top: 0;
                    opacity: 1;
                    visibility: visible;
                    transition: 0.4s;
                }
            }
        }
    }
    /*=====  End of NAVBAR  ======*/
