@font-face {
  font-family: 'pairings';
  src:  url('../fonts/pairings/pairings.eot?ye414c');
  src:  url('../fonts/pairings/pairings.eot?ye414c#iefix') format('embedded-opentype'),
    url('../fonts/pairings/pairings.ttf?ye414c') format('truetype'),
    url('../fonts/pairings/pairings.woff?ye414c') format('woff'),
    url('../fonts/pairings/pairings.svg?ye414c#pairings') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pairing-"], [class*=" pairing-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pairings';
  font-size: 30px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pairing-cakes:before {
  content: "\e900";
}
.pairing-cheese:before {
  content: "\e901";
}
.pairing-cow:before {
  content: "\e902";
}
.pairing-fish:before {
  content: "\e903";
}
.pairing-chicken:before {
  content: "\e904";
}
.pairing-fruit:before {
  content: "\e905";
}
.pairing-sheep:before {
  content: "\e906";
}
.pairing-spagetti:before {
  content: "\e907";
}
.pairing-pig:before {
  content: "\e908";
}
