$black: #333;
$white: #fff;
$grey-light: #ececec;
$grey: #919292;
$red: #cc1a31;
$red-dark: #AE152A;

%flexbox {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
}