{% extends '../layouts/layout.html' %}

{% block body %}
<body>
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">

        {% include '../layouts/messages.html' %}

        <div class="card-box">
            <div class="panel-heading">
                <h3 class="text-center"> Sign In to <strong class="text-custom">Admin panel</strong> </h3>
            </div>


            <div class="panel-body">
                <form class="form-horizontal m-t-20" action="/auth/login" method="post">

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control email" type="text" name='email' required="" placeholder="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control password" type="password" name='password' required="" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light js-submit" type="submit">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}

