{% extends '../../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div id="tour-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Tours</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="/admin">Dashboard</a>
                </li>
                <li class="active">
                    Tours
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-body">
                    <h4 class="page-title m-b-15">Private Tours</h4>
                    <form role="form" id="private-price-form" method="post" action="/admin/tours/private-tour-price">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label for="private">Private tour price:</label>
                                <input id='private' value="{{ privateTourPrice }}" type="text" data-a-sign="AMD  " placeholder="AMD " class="form-control autonumber">
                                <input type="hidden" name='privateTourPrice' id="privateValue" />
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <input type="hidden" id='_method2' name="_method" value="POST">
                                <button type="submit" style='margin-top: 25px;' class="btn btn-md btn-default waves-effect waves-light">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card-box">
                <div>
                    <h4 class="page-title m-b-15 pull-left">Public Tours</h4>
                    <a class="btn btn-default btn-md waves-effect waves-light m-b-30 js-modal pull-right"><i class="md md-add"></i> Add public tours</a>
                </div>
                <div class="">
                    <table class="table table-striped" id="datatable-editable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tour in tours %}
                            <tr class="gradeU data-row" data-data="{{ tour | json_encode }}">
                                <td>{{ loop.index}}</td>
                                <td>{{ tour.date }}</td>
                                <td>{{ tour.start_time }} - {{ tour.end_time }}</td>
                                <td>{{ tour.price || 'Free' }}</td>
                                <td class="actions">
                                    <a href="javascript:;" class="on-default on-edit-row"><i class="fa fa-pencil"></i></a>
                                    <a href="javascript:;" class="on-default on-remove-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- end Panel -->
            </div>
        </div>
    </div>
</div>
<!-- container -->
<div id="dialog" class="modal-block mfp-hide">
    <section class="panel panel-info panel-color">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Are you sure that you want to delete this row?</p>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm" class="btn btn-primary waves-effect waves-light">Confirm</button>
                    <button id="dialogCancel" class="btn btn-default waves-effect">Cancel</button>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Add Tour</h4>
    <div class="custom-modal-text text-left">
        <form role="form" id="tour-form" method="post">
            <div class="form-group">
                <label for="price">Price</label>
                <input id='price' type="text" data-a-sign="AMD  " placeholder="AMD " class="form-control autonumber">
                <input type="hidden" name='price' id="priceValue" />
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <div class="input-group">
                    <input id='date' type="text" name="date" class="form-control datepicker-autoclose" placeholder="Date">
                    <span class="input-group-addon bg-custom b-0 text-white show-calendar"><i class="icon-calender"></i></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6">
                    <label for="start_time">Start Time</label>
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input id='start_time' type="text" name="start_time" class="form-control" placeholder="Start Time">
                        <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="end_time">End Time</label>
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input id='end_time' type="text" name="end_time" class="form-control " placeholder="End Time">
                        <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                </div>
            </div>
            <input type="hidden" id='_method' name="_method" value="POST">
            <button type="submit" class="btn btn-default waves-effect waves-light">Save</button>
            <button onclick="Custombox.close();" type="button" class="btn btn-danger waves-effect waves-light m-l-10">Cancel</button>
        </form>
    </div>
</div>
{% endblock %} {% block customscripts %}
<style>
.bootstrap-timepicker-widget {
    z-index: 99999!important;
}
</style>
<script src="/app/assets/plugins/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="/app/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
<script src="/app/assets/plugins/parsleyjs/parsley.min.js"></script>
<script src="/app/assets/plugins/moment/moment.js"></script>
<script src="/app/assets/plugins/timepicker/bootstrap-timepicker.js"></script>
<script src="/app/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/app/assets/plugins/autoNumeric/autoNumeric.js" type="text/javascript"></script>
<script src="/app/assets/plugins/custombox/js/custombox.min.js"></script>
<script src="/app/assets/plugins/custombox/js/legacy.min.js"></script>
<script src="/app/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script>
/**
 * Theme: Ubold Admin Template
 * Author: Coderthemes
 * Component: Editable
 *
 */
(function($) {

    'use strict';
    var $form = $('#tour-form');
    var $method = $('#_method');
    var url = '/admin/tours';

    $(function() {

        $('.timepicker')
            .timepicker({
                showMeridian: false,
                defaultTime: '0:00',
                showInputs: false,
                minuteStep: 5
            })
            .click(function() {
                $(this).timepicker('showWidget');
            });


        $('.js-modal').click(function(ev) {
            var $inputs = $form.find('input');
            $inputs.each(function() {
                $(this).val('');
            });

            $method.val('POST');
            $form.attr('action', url);
            $('.datepicker-autoclose').datepicker('destroy');
            $('.datepicker-autoclose').datepicker({
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                clearBtn: true,
                multidate: true,
                multidateSeparator: ","
            });

            $('.show-calendar').click(function() {
                $('.datepicker-autoclose').datepicker('show');
            });

            Custombox.open({
                target: '#custom-modal'
            })
        });

        $('.on-edit-row').click(function() {
            var data = $(this).closest('.data-row').data('data'),
                $inputs = $form.find('input'),
                $el = null;

            $('.datepicker-autoclose').datepicker('destroy');
            $('.datepicker-autoclose').datepicker({
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                autoclose: true
            });
            $inputs.each(function() {
                $el = $(this);
                if ($el.attr('name')) {
                    $el.val(data[$el.attr('name')]);
                }
            });

                if ($('.autonumber').length) {
                    var $autonumbers = $('.autonumber');
                    $autonumbers.each(function () {
                        $el = $(this);
                        if ($el.attr('id')) {
                                $autonumbers.autoNumeric('set', data.price)
                        }
                    });
                }

            $method.val('PUT');
            $form.attr('action', url + '/' + data.id);

            Custombox.open({
                target: '#custom-modal'
            });
        });

        $('.on-remove-row').click(function() {
            var $el = $(this).closest('.data-row'),
                data = $el.data('data');
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this moderator!",
                type: "error",
                showCancelButton: true,
                confirmButtonClass: 'btn-danger',
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function() {
                $.ajax({
                    url: url + '/' + data.id,
                    type: 'DELETE',
                    success: function() {}
                });
                $el.remove();
            });
        });

        //Override mask values
        $('.autonumber')
            .autoNumeric('init')
            .change(function(e) {
                $('#' + this.id + 'Value').val($(this).autoNumeric("get"));
            });

        $form.parsley();
    });

}).apply(this, [jQuery]);
</script>
{% endblock %}
