{% extends '../../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style type="text/css">
    .thumb-img{
        height: 300px;
        background-size: cover;
        background-position: center;
    }
</style>
<div class="our-news-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-xs-12">
            <h4 class="page-title">News </h4>
            <p class="text-muted page-title-alt">Here you can edit news!</p>
            <div>
                <ol class="breadcrumb pull-left">
                    <li><a href="/admin/products">Items</a></li>
                    <li class="active">News</li>
                </ol>
                <a  href="/admin/news/create" class="btn btn-default pull-right btn-md waves-effect waves-light"><i class="md md-add"></i> New Item</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="portfolioContainer">
            {% for item in news %}
            <div class="col-sm-6 col-lg-3 col-md-4" data-id="{{ item.id }}">
                <div class="gal-detail thumb">
                    <div style='background-image: url("/uploads/{{ item.avatar }}")' class="thumb-img" alt="work-thumbnail"></div>
                    <div class="m-t-15 m-b-15 text-center">
                        <h4>{{ item.title }}</h4>
                        <br>
                        <a href="/admin/news/{{ item.id }}" class="m-t-15 btn btn-md w-md btn-info btn-custom btn-rounded waves-effect waves-light">View </a>
                        <button class="m-t-15 btn btn-md w-md btn-danger btn-custom btn-rounded waves-effect waves-light js-remove">Remove </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- end row -->
    {% endblock %} {% block customscripts %}
    <script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <script src="/app/assets/pages/jquery.sweet-alert.init.js"></script>
    <script>
        (function( $ ) {

            'use strict';
            var url = '/admin/news';
            $(function() {
                $('.js-remove').click(function () {
                    var $el = $(this).closest('[data-id]'),
                            id = $el.data('id');

                    swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this moderator!",
                        type: "error",
                        showCancelButton: true,
                        confirmButtonClass: 'btn-danger',
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: true
                    }, function () {
                        $.ajax({
                            url:  '/admin/news/'+ id,
                            type: 'DELETE',
                            success: function () {}
                        });
                        $el.remove();
                    });
                });
            });

        }).apply( this, [ jQuery ]);
    </script>
    {% endblock %}
