a{% extends '../../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style type="text/css">
    .input-group label {
        height: 38px;
        padding: 8px;
    }

    .portfolioContainer {
        margin-top: -15px;
    }

    .gal-detail {
        border: 1px solid #e0e0e0;
    }

    .tags-default > div {
        height: 38px;
        width: 100% !important;
    }

    .tags-default .tag {
        height: 28px;
        line-height: 1.8;
    }

    .bootstrap-tagsinput input {
        padding: 4px 6px !important;
    }

    .flex-start {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .checkbox {
        padding: 0;
        height: 38px;
        text-align: center;
    }

    .checkbox label {
        top: 20px;
    }

    .checkbox label:before,
    .checkbox label:after {
        left: 0;
        right: 0;
        top: -20px;
        margin: 0 auto;
        padding-left: 0;
    }

    .flex-medal {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        border: 2px dashed #e0e0e0;
    }

    textarea {
        min-height: 150px !important;
    }

    .rating li {
        color: #FFBD4A;
        border-color: #FFBD4A;
    }
</style>
<div class="our-wines-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-xs-12">
            <h4 class="page-title">{% if item.id %}{{ item.title }}{% else %}New News{% endif %}</h4>
            <div>
                <ol class="breadcrumb pull-left">
                    <li>
                        <a href="/admin">Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="/admin/news">News</a>
                    </li>
                    <li class="active">
                        {% if news.id %}{{ news.title }}{% else %}New Event{% endif %}
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card-box">
        <div class="row">
            <form class='col-xs-12 m-t-30 news-form'
                  method="post"
                  action='/admin/news/{{ news.id }}'
                  enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="m-b-15 col-xs-12 col-sm-6 col-lg-3">
                        <label for='avatar'>News Avatar*</label>
                        <a href="/uploads/{{ news.avatar }}" class="image-popup" title="Screenshot-1">
                            <img src="/uploads/{{ news.avatar }}" class="thumb-img" alt="work-thumbnail">
                        </a>
                        <div class="m-t-15 m-b-15 text-center">
                            <input id="avatar" type="file" name='image' class="filestyle form-inline" data-icon="false"
                                   data-buttontext="Upload" data-input="false" data-badge="false" />
                        </div>
                    </div>
                    <div class="m-b-15 col-xs-12 col-sm-6 col-lg-9">
                        <label for="title">Title*</label>
                        <input type="text" id='title' name="title" value="{{ news.title }}" data-parsley-trigger="focusout"
                               required placeholder="Enter event name" class="form-control">
                    </div>
                    <div class="m-b-15 col-xs-12 col-sm-6 col-lg-3">
                        <label for="date">Date*</label>
                        <div class="input-group">
                            <input id='date' value="{{ news.date }}" type="text" name="date" data-parsley-trigger="focusout"
                                   class="form-control datepicker-autoclose" placeholder="Date" />
                            <span class="input-group-addon bg-custom b-0 text-white"><i class="icon-calender"></i></span>
                        </div>
                    </div>
                    <div class="m-b-15 col-xs-12 col-lg-12">
                        <label for="elm1">Description*</label>
                        <textarea id="elm1" name="description" >{{ news.description }}</textarea>
                    </div>
                </div>
                <div class="form-group m-b-15 row text-right m-b-0">
                    <div class="col-xs-12">
                        <a href="/admin/news" class="btn btn-primary waves-effect waves-light m-l-5">Cancel</a>
                        <button class="btn btn-default waves-effect waves-light" type="submit">Submit</button>
                    </div>
                </div>
                <input type="hidden" name="_method" id="_method" value="post">
            </form>
        </div>
    </div>
</div>
{% endblock %} {% block customscripts %}
<script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="/app/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script src="/app/assets/plugins/autoNumeric/autoNumeric.js" type="text/javascript"></script>
<script src="/app/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/app/assets/plugins/tinymce/tinymce.min.js"></script>
<script src="/app/assets/js/tiny-mce.init.js"></script>
<script src="/app/assets/js/file-uploader.init.js"></script>
<script src="/app/assets/plugins/parsleyjs/parsley.min.js"></script>
<script>
    (function( $ ) {
        $(function ($) {
            'use strict';
            var $method = $('[name="_method"]')
                , url = '/admin/news'
                , newsId = '{{ (news.id |raw) || "" }}';

            function initForms() {
                if (!newsId) {
                    $('.news-form').attr('action', url);
                } else {
                    $method.val('put');
                    $('.news-form').attr('action', url + '/' + newsId);
                }
            }

            function eventHandlers() {
                $('.datepicker-autoclose').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd/mm/yyyy'
                });

                //Override mask values
                $('.autonumber').change(function (e) {
                    $('#' + this.id + 'Value').val($(this).autoNumeric("get"));
                });
            }

            $(function () {
                initForms();
                eventHandlers();
                tinymce.init({
                    selector: "textarea",
                    height: 700,
                    plugins: [
                        "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
                    ],

                    toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
                    toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
                    toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | visualchars visualblocks nonbreaking template pagebreak restoredraft",

                    menubar: false,
                    toolbar_items_size: 'medium'
                });

                $('.autonumber').autoNumeric('init');

                $(".thumb-img").on("error", function () {
                    $(this).attr('src', '/app/assets/images/no-photo/default-thumbnail.jpg');
                });
            });
        });
    }).apply(this, [jQuery])
</script>
{% endblock %}
