
<div ng-include src="'app/views/partials/header.html'"></div>
<div class='container pb-5' id='about'>
    <div class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>About Us</h1>
        </div>
        <div ng-repeat="item in vm.data track by $index" class="col-12">
            <div class="row">
                <div ng-class="{'push-md-6': $odd}"
                     class="col-sm-12 col-md-6 about__image"
                     ng-style="{'background-image':'url(/uploads/'+item.image+')'}"></div>
                <div ng-class="{'pull-md-6 align-items-start': $odd, 'align-items-end': $even}"
                     class="col-sm-12 col-md-6 about__text d-flex flex-column justify-content-center pt-4 pb-4">
                    <h2>{{item.title}}</h2>
                    <p ng-class="{'text-left': $odd, 'text-right': $even}">{{item.description}}</p>
                    <h6>{{item.date}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'app/views/partials/footer.html'"></div>
