<div ng-include src="'app/views/partials/header.html'"></div>
<div class="container">
    <div class="row pb-5">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>Article</h1>
        </div>
        <div class="col-12">
            <h2 class="text-sm-left">{{vm.article.title}}</h2>
            <h6 class="text-sm-left">Date: <span class='article-date'>{{vm.article.date}}</span></h6>
        </div>
        <div class="col-12">
           <div ng-bind-html="vm.article.description"></div>
       </div>
    </div>
</div>
<div ng-include src="'app/views/partials/footer.html'"></div>
