<div ng-if="$root.processing">
    <div class="overflow"></div>
</div>

<div ng-include src="'app/views/partials/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>Your Cart</h1>
        </div>
    </div>
    <div class="row justify-content-between">
        <button ng-click='vm.changeStep(1)' ng-class="{active: vm.currentStep >= 1 }" class="col form-wizard"><span class='d-none d-sm-inline'>1</span>Order</button>
        <button ng-click='vm.changeStep(2)' ng-class="{active: vm.currentStep >= 2 }" class="col ml-2 mr-2 form-wizard"><span class='d-none d-sm-inline'>2</span>Personal</button>
        <button ng-click='vm.changeStep(3)' ng-class="{active: vm.currentStep == 3 }" class="col form-wizard"><span class='d-none d-sm-inline'>3</span>Review</button>
    </div>
    <div class="row pb-5">
        <div ng-if='vm.currentStep == 1' class="col">
            <div class="row order-items">
                <h1 class='col-12 text-left pt-3'>Your Items</h1>
                <div class="col-12">
                    <div class="h-100 w-100 d-flex flex-wrap justify-content-center">
                        <p ng-if='!vm.cartItems.length' class='default-item align-self-center'>No items are added to your cart.</p>
                        <div class="w-100 pt-3 pb-3 d-flex order-single-item" ng-repeat='item in vm.cartItems track by $index'>
                            <div class="col-3">
                                <div ng-if='item.avatar' ng-class="{wine: item.type == 'wine'}" class="row w-100 h-100 order-single-item-image" ng-style='{"background-image": "url(/uploads/"+ item.avatar + ")"}'>
                                </div>
                                <div ng-if='item.imageUrl' ng-class="{event: item.type == 'event'}" class="row w-100 h-100 order-single-item-image" ng-style='{"background-image": "url("+item.imageUrl+")"}'>
                                </div>
                            </div>
                            <div class="col-6 d-flex flex-column justify-content-between">
                                <div>
                                    <h5 class="text-left order-single-item-title">{{item.name}}</h5>
                                    <!--<p ng-if='item.pairings' class="text-left">Goes well with-->
                                    <!--<span class="red-text" ng-repeat='pairing in item.pairings'>{{pairing}}, </span>-->
                                    <!--</p>-->
                                    <p ng-if='item.type == "membership"' class="red-text text-left">Receive amazing gifts and bonuses.</p>
                                    <p ng-if='item.date' class="red-text text-left">{{item.date}}</p>
                                </div>
                                <div class='mt-2 order-single-item-metric' ng-if='item.quantity != undefined'>
                                    <input ng-model='item.quantity' ng-change='vm.updateQuantity(item.quantity, $index)' class="input-black" type="number" value="1" id="price" min="1">
                                </div>
                            </div>
                            <div class="col-3 d-flex h-100 justify-content-end align-items-end order-single-item-price">
                                <h5 class='text-right' ng-if='item.quantity'>{{item.quantity * item.price || item.price | prettyNumber}} AMD</h5>
                            </div>
                            <a href="javascript:;" ng-click="vm.remove($index)">
                                <i class='remove-button fa fa-times' style="color:#333;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if='vm.currentStep == 2' class="col">
            <form name="form" novalidate>
                <div class="row order-client" ng-init="vm.saveFormInstance(form)">
                    <div class="col-12 col-sm-6 mb-3">
                        <label>Full Name:*</label>
                        <input ng-model='vm.order.full_name' ng-model-options="{ updateOn: 'blur' }" required type="text" name="full_name" class='input-black' placeholder="Full Name">
                        <div ng-show="form.full_name.$touched" class="red-text">
                            <div ng-show="form.full_name.$error.required" class="text-left">Tell us your name.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label>Email:*</label>
                        <input ng-model='vm.order.email' ng-model-options="{ updateOn: 'blur' }" required type="email" name="email" class='input-black' placeholder="Email">
                        <div ng-show="form.email.$touched" class="red-text">
                            <div ng-show="form.email.$error.required" class="text-left">Tell us your email address.</div>
                            <div ng-show="form.email.$error.email" class="text-left">This is not a valid email.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label>Phone:*</label>
                        <input autocomplete="off" ng-model='vm.order.phone' ng-model-options="{ updateOn: 'blur' }" required type="text" ui-mask="(999) 999-999" ui-mask-placeholder ui-mask-placeholder-char="_" name="phone" class='input-black phone' placeholder="Phone">
                        <div ng-show="form.phone.$touched" class="red-text">
                            <div ng-show="form.phone.$error.required" class="text-left">Tell us your phone.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label>Delivery Address:*</label>
                        <input ng-model='vm.order.address' ng-model-options="{ updateOn: 'blur' }" required type="text" name="address" class='input-black' placeholder="Delivery Address">
                        <div ng-show="form.address.$touched" class="red-text">
                            <div ng-show="form.address.$error.required" class="text-left">Tell us your delivery address.</div>
                        </div>
                    </div>
                    <div ng-if='vm.wineExist()' class="col-12 col-sm-6 mb-3">
                        <label>Delivery Date:*</label>
                        <input data-language='en' ng-model='vm.order.delivery_date' ng-model-options="{ updateOn: 'blur' }" required type='text' name='delivery_date' placeholder="Date" class="datepicker-past-block input-black block-past" />
                        <div ng-show="form.delivery_date.$touched" class="red-text">
                            <div ng-show="form.delivery_date.$error.required" class="text-left">Please specify delivery date.</div>
                        </div>
                    </div>
                    <div ng-if='vm.wineExist()' class="col-12 col-sm-6 mb-3">
                        <label for='timepicker'>Delivery Time:*</label>
                        <input ng-model='vm.order.delivery_time' ng-model-options="{ updateOn: 'blur' }" required type="text" name='delivery_time' id="timepicker" placeholder="Time" class="timepicker input-black" />
                        <div ng-show="form.delivery_time.$touched" class="red-text">
                            <div ng-show="form.delivery_time.$error.required" class="text-left">Please specify delivery time.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label>Your Promo code:</label>
                        <input type="text" ng-model='vm.order.promo_code' name="promo_code" class='input-black' placeholder="Promocode">
                    </div>
                </div>
            </form>
        </div>
        <div ng-if='vm.currentStep == 3' class="col order-review pt-4 pb-4 h-100">
            <h1 class='col-12'>Personal Information</h1>
            <p class='pb-4'>please review your order and make sure everything is correct</p>
            <div class="row">
                <div class="col-12 pb-4">
                    <p class='mt-2 mb-2 text-left'><b>NOTE:</b> You can only pay for the wines, when we deliver them to the above menetioned address. </p>
                    <p class='mt-2 mb-2 text-left'><b>NOTE:</b> Tours and events participation fees are paid on site.</p>
                </div>
                <div class="col-xl-6 cart-review-item">
                    <label>Full Name:</label>
                    <div>
                        <i class="fa fa-user" aria-hidden="true"></i><span>{{ vm.order.full_name }}</span>
                    </div>
                </div>
                <div class="col-xl-6 cart-review-item">
                    <label>Email:</label>
                    <div>
                        <i class="fa fa-envelope" aria-hidden="true"></i><span>{{ vm.order.email }}</span>
                    </div>
                </div>
                <div class="col-xl-6 cart-review-item">
                    <label>Phone:</label>
                    <div>
                        <i class="fa fa-phone" aria-hidden="true"></i><span>{{ vm.order.phone }}</span>
                    </div>
                </div>
                <div ng-if="vm.order.promo_code" class="col-xl-6 cart-review-item">
                    <label>Promocode:</label>
                    <div>
                        <i class="fa fa-gift" aria-hidden="true"></i><span> {{ vm.order.promo_code }}</span>
                    </div>
                </div>
                <div ng-if="vm.order.delivery_date" class="col-xl-6 cart-review-item">
                    <label>Delivery date:</label>
                    <div>
                        <i class="fa fa-calendar" aria-hidden="true"></i><span>{{ vm.order.delivery_date }}</span>
                    </div>
                </div>
                <div ng-if="vm.order.delivery_time" class="col-xl-6 cart-review-item">
                    <label>Delivery time:</label>
                    <div>
                        <i class="fa fa-clock-o" aria-hidden="true"></i><span>{{ vm.order.delivery_time }}</span>
                    </div>
                </div>
                <div ng-if="vm.order.address" class="col cart-review-item">
                    <label>Delivery address:</label>
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i><span>{{ vm.order.address }}</span>
                    </div>
                </div>
                <div class="col-12 text-left">
                    <label class='mt-3' for="terms">
                        <input type="checkbox" id="terms" ng-model="vm.isAgree" />
                        <a class='terms-link' ui-sref='/terms'>I Agree with terms and conditions</a>
                    </label>
                </div>
                <div class="col-12 mt-2 mb-2">
                    <div class='captcha captcha-left m-0' on-create="vm.captchaReady = true" vc-recaptcha ng-model="vm.order.captcha" key="'6Le20SAUAAAAAHbKw8wB0UH6-PPrYnxog8Ie2b92'"></div>
                </div>
                <div class="col-12 mb-2">
                    <button class="btn float-sm-left btn-black btn-grey" ng-disabled="!vm.isCaptchaChecked()" ng-click="vm.submit()">Order</button>
                </div>
            </div>
        </div>
        <div ng-if='vm.cartItems.length' class="mt-2 mt-xl-0 ml-0 ml-xl-2 col-xl-4 col-12">
            <div class="row order-summary pt-4 pb-4">
                <h1 class='col-12'>Order Summary</h1>
                <div class="col-12">
                    <div ng-class='{"emptyCart d-flex align-items-center justify-content-center": vm.cartItems.length == 0}' class="navbar__cart-body">
                        <div ng-repeat="item in vm.cartItems" class="row order-summary__items mb-3">
                            <hr class='w-100'>
                            <div class='col-3'>
                                <img ng-if='item.avatar' ng-src="/uploads/{{item.avatar}}">
                                <img ng-if='item.imageUrl' ng-src="{{item.imageUrl}}">
                            </div>
                            <div class="col-9">
                                <p>{{item.name}}</p>
                                <div class='d-flex justify-content-between align-items-center mt-5'>
                                    <span ng-if='item.type == "wine"'>
                                        x{{item.quantity}} {{item.quantity == 1 ? ' bottle' : ' bottles'}}
                                    </span>
                                    <span ng-if='item.type != "wine"'>
                                        x{{item.quantity}} {{item.quantity == 1 ? ' person' : ' people'}}
                                    </span>
                                    <span>{{item.price ? (item.price*item.quantity | prettyNumber ) + ' AMD' : 'Free'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class='w-100'>
                        </div>
                        <h6 class='col-12 d-flex justify-content-between align-self-end mt-2 mb-2'>
                          <span>Discount:</span>
                          <span>{{ vm.discount }}%</span>
                        </h6>
                        <h5 class='col-12 d-flex justify-content-between align-self-end mt-2 mb-2'>
                          <span>Total:</span>
                          <span>{{vm.calcTotalPrice() | prettyNumber }} AMD</span>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <button type="button" ng-if='vm.currentStep != 3' ng-disabled='vm.currentStep == 1' class="btn ml-2 mr-2 btn-black no-trans" ng-click="vm.changeStep('prev')">PREVIOUS</button>
                <button type="button" ng-if='vm.currentStep != 3' class="btn ml-2 mr-2 btn-black no-trans" ng-click="vm.changeStep('next')">NEXT</button>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'app/views/partials/footer.html'"></div>
