<div ng-include src="'app/views/partials/header.html'"></div>
<div class='contact-page container pb-5' map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
    <div class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>Contact Us</h1>
        </div>
        <div class="col-xl-6 col-12">
            <div class="row pb-4">
                <h4 class='w-100 pb-4'>Contact Information</h4>
                <div class="col-md-6 col-12">
                    <div class="contact__info">
                        <i class="fa fa-phone" aria-hidden="true"></i><span>{{ $root.contacts.phone }}</span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="contact__info">
                        <i class="fa fa-envelope" aria-hidden="true"></i><span>{{ $root.contacts.email }}</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="contact__info">
                        <i class="fa fa-map-marker" aria-hidden="true"></i><span>{{ $root.contacts.address }}</span>
                    </div>
                </div>
            </div>
            <div class='row pb-4'>
                <h4 class='w-100 pb-4'>Social Pages</h4>
                <div class="w-100 d-flex flex-wrap justify-content-around contact__social">
                    <a style='background-color: #3B5998' ng-if="$root.contacts.facebook" target='_blank' ng-href="{{ $root.contacts.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a style='background-color: #00ACED' ng-if="$root.contacts.twitter" target='_blank' ng-href="{{ $root.contacts.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a style='background-color: #6A453B' ng-if="$root.contacts.instagram" target='_blank' ng-href="{{ $root.contacts.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a style='background-color: #BB0000' ng-if="$root.contacts.youtube" target='_blank' ng-href="{{ $root.contacts.youtube }}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a style='background-color: #DD4B39' ng-if="$root.contacts.google" target='_blank' ng-href="{{ $root.contacts.google }}"><i class="fa fa-google" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class='row pb-4'>
                <h4 class='w-100 pb-4'>Subscribe</h4>
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" name='first_name' autocomplete="off" placeholder='First name' ng-model="vm.subscribeModel.first_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name='last_name' autocomplete="off" placeholder='Last name' ng-model="vm.subscribeModel.last_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name='email' autocomplete="off" placeholder='Email' ng-model="vm.subscribeModel.email" class="form-control">
                    </div>
                    <button class='btn-red' type="button" ng-click="vm.subscribe()"><a>Subscribe</a></button>
                </div>
            </div>
        </div>
        <div class='col-xl-6 col-12' class='contact-map'>
            <ng-map id='single_map' zoom="10" center="40.23020, 44.34275">
                <marker id='vanardilocation' on-click="vm.showPointerInfo(0, 'vanardimap', 'vanardilocation')" position="40.23020, 44.34275" title='Van Ardi Winery'>
                </marker>
                <info-window id="vanardimap" visible='false'>
                    <div ng-non-bindable>
                        <h6>Van Ardi Winery</h6>
                        <p class='text-left'><u>Address:</u> {{ $root.contacts.address }}</p>
                        <p class='text-left'><u>Phone:</u> {{ $root.contacts.phone }}</p>
                    </div>
                </info-window>
            </ng-map>
        </div>
    </div>
    <div class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>FAQ</h1>
        </div>
        <div class="col-12 col-lg-6 mb-5" ng-repeat="block in vm.faq track by $index">
            <h4 class="text-left"><b>{{block.question}}</b></h4>
            <p class="text-left">{{block.answer}}</p>
        </div>
    </div>
    <div class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>International Stores</h1>
        </div>
    </div>
    <div class="row">
        <div class='col-12 hidden-sm-down '>
            <ng-map id="multi_map" zoom='2 ' center="40.23020, 44.34275" styles='{{vm.style}} '>
                <marker id='{{block._id}}' on-click="vm.showPointerInfo(1, 'multi_map_info_window', block._id)"
                        ng-repeat='block in vm.stores track by $index ' geo-callback position="{{block.address}}">
                </marker>
                <info-window id="multi_map_info_window" visible='false'>
                    <div ng-non-bindable>
                        <h6>{{vm.selectedPointer.name}}</h6>
                        <p class='text-left'><u>Address:</u> {{vm.selectedPointer.address}}</p>
                        <p class='text-left'><u>Phone:</u> {{vm.selectedPointer.phone}}</p>
                    </div>
                </info-window>
            </ng-map>
        </div>
        <div class="col-12 col-sm-6 hidden-md-up mb-5" ng-repeat='block in vm.stores track by $index '>
            <h3 class='mt-2 mb-2 '>{{block.name}}</h3>
            <u>Address:</u>
            <p>{{block.address}}</p>
            <br />
            <u>Phone: </u>
            <p>{{block.phone}}</p>
        </div>
    </div>
</div>
<div ng-include src="'app/views/partials/footer.html'"></div>
