<div ng-include src="'app/views/partials/header.html'"></div>
<div class="container">
    <div class="row pb-5">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>Event</h1>
        </div>
        <div class="col-12">
            <h2 class="text-sm-left">{{vm.event.title}}</h2>
            <h6 class="text-sm-left">Date: <span class='article-date'>{{vm.event.date}}</span></h6>
        </div>
        <div class="col-12">
            <div ng-bind-html="vm.event.description"></div>
        </div>
        <div  ng-if="vm.isUpcomingEvent()" class="product_calculator col-xl-5 offset-xl-7 col-lg-6 offset-lg-6 col-md-8 offset-md-4 col-12">
            <hr class='row product-seperator'>
            <div class="row justify-content-center justify-content-sm-start">
                <div class="col-12 col-sm-6 justify-content-center justify-content-sm-start">
                    <div class="row">
                        <label for="event-price" class="col-12 col-sm-4 col-form-label justify-content-center justify-content-sm-start align-items-center">People:</label>
                        <div class="col-12 col-sm-8 mt-3 mb-3 mt-sm-0 mb-sm-0">
                            <input class="input-black" type="number" value="1" id="event-price" min="1" ng-model="vm.event.quantity">
                        </div>
                    </div>
                </div>
                <div class='col-12 col-sm-6 justify-content-center justify-content-sm-end'>
                    <h3>{{vm.event.price ? (vm.event.quantity*vm.event.price | prettyNumber ) + ' AMD' : 'Free'}}</h3>
                </div>
                <add-to-cart class='col-12 justify-content-center justify-content-sm-end mt-4' presave="vm.preSaveInCart(vm.event)" aftersave="vm.afterSaveInCart()"></add-to-cart>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'app/views/partials/footer.html'"></div>
