<div ng-include src="'app/views/partials/header.html'"></div>
<div id="events" class="container">
    <div class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>Upcoming Events</h1>
        </div>
        <div ng-repeat="event in vm.events.current  track by event.id" class="col-xl-4 col-md-6 col-12">
            <div class="van__box">
                <h3>{{event.formattedDate}}, {{event.time}}</h3>
                <div>
                    <img ng-src="/uploads/{{ event.avatar }}">   
                </div>
                <h3 class='f7'>{{ event.price ? (event.price | prettyNumber) + ' AMD' : 'Free' }}</h3>
                <div>{{event.title}}</div>
                <button type="button" class="btn-black" ui-sref="event({id: event.id})"><a>VIEW MORE</a></button>
            </div>
        </div>
        <div ng-if="!vm.events.current.length">
            <p>No any upcoming events</p>
        </div>
    </div>

    <div ng-if='vm.events.past.length' class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>Past Events</h1>
        </div>
        <div ng-repeat="event in vm.events.past track by event.id" class="col-xl-4 col-md-6 col-12">
            <div class="van__box">
                <h3>{{event.formattedDate}}, {{event.time}}</h3>
                <div>
                    <img ng-src="/uploads/{{ event.avatar }}">
                </div>
                <h3 class='f7'></h3>
                <div class='event-title'>{{event.title}}</div>
                <button type="button" class="btn-black" ui-sref="event({id: event.id})"><a>VIEW MORE</a></button>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'app/views/partials/footer.html'"></div>
