<div ng-include src="'app/views/partials/header.html'"></div>
<div class="carousel">
    <div class="owl-carousel owl-theme">
        <div ng-repeat="item in vm.content.images" class="item" style="background-image:url({{ item.file }})">
            <h1>{{ vm.content.title }}</h1>
            <h2>{{ vm.content.secondary_title}}</h2>
        </div>
    </div>
</div>
<div class="container" ng-if="vm.wines.length">
    <div class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>Featured Wines</h1>
        </div>
        <div ng-repeat="wine in vm.wines" class="col-12 col-md-6 col-lg-4 mb-3">
            <div class='our-wines__imagebox'>
                <div ng-style='{"background-image": "url(/uploads/{{wine.avatar}})"}'></div>
                <button class='btn-red on-wine' type="button" ui-sref="wine({id: wine._id})"><a>VIEW MORE</a></button>
            </div>
            <div class="our-wines__text">
                <p><span class='f1' ng-repeat="tag in wine.tag">{{ tag }}{{$last ? ' ' : ', '}}</span></p>
                <h4 class='mt-2 f3'>{{ wine.name }}</h4>
                <h5 class='f7'>{{ wine.price*(1-wine.discount/100) | number: 0 }} AMD</h5>
                <p ng-if='wine.in_stock < 10 && wine.in_stock > 1'>Left in Stock: <span class='red-text'>{{wine.in_stock}}</span></p>
                <p ng-if='wine.in_stock == 0' class='red-text'>Out of Stock</p>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-if="vm.events.length">
    <div class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>Upcoming Events</h1>
        </div>
        <div ng-repeat="event in vm.events" class="col-xl-4 col-md-6 col-12">
            <div class="van__box">
                <h3>{{event.formattedDate}}, {{event.time}}</h3>
                <div>
                    <img ng-src="/uploads/{{ event.avatar }}">
                </div>
                <h3 class='f7'>{{ (event.price ? (event.price + 'AMD' | prettyNumber) : 'Free') }}</h3>
                <div class='event-title'>{{event.title}}</div>
                <button type="button" class="btn-black" ui-sref="event({id: event._id})"><a>VIEW MORE</a></button>
            </div>
        </div>
    </div>
</div>
</div>
<script>
$(function() {
    $('.owl-carousel').owlCarousel({
        items: 1,
        autoplay: true,
        loop: true
    });
});
</script>
<div ng-include src="'app/views/partials/footer.html'"></div>
