<div ng-include src="'app/views/partials/header.html'"></div>
<div class="carousel">
    <div class="owl-carousel owl-theme">
        <div ng-repeat="item in vm.content.images" class="item" style="background-image:url({{ item.file }})">
            <h1>{{ vm.content.title }}</h1>
            <h2>{{ vm.content.secondary_title}}</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>Club Membership</h1>
        </div>
        <div class="col-12">
            <div ng-bind-html="vm.content.description"></div>
        </div>
        <div class="col-12 justify-content-center pb-5 pt-5">
            <form name="form" novalidate>
                <div class="row order-client" ng-init="vm.saveFormInstance(form)">
                    <div class="col-12 col-sm-6 mb-3">
                        <label>First Name:*</label>
                        <input ng-model='vm.member.first_name' ng-model-options="{ updateOn: 'blur' }"
                               required type="text" name="first_name" class='input-black' placeholder="First Name">
                        <div ng-show="form.first_name.$touched" class="red-text">
                            <div ng-show="form.first_name.$error.required" class="text-left">Tell us your first name.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label>Last Name:*</label>
                        <input ng-model='vm.member.last_name' ng-model-options="{ updateOn: 'blur' }"
                               required type="text" name="last_name" class='input-black' placeholder="Last Name">
                        <div ng-show="form.last_name.$touched" class="red-text">
                            <div ng-show="form.last_name.$error.required" class="text-left">Tell us your last name.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label>Email:*</label>
                        <input ng-model='vm.member.email' ng-model-options="{ updateOn: 'blur' }"
                               required type="email" name="email" class='input-black' placeholder="Email">
                        <div ng-show="form.email.$touched" class="red-text">
                            <div ng-show="form.email.$error.required" class="text-left">Tell us your email address.</div>
                            <div ng-show="form.email.$error.email" class="text-left">This is not a valid email.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label>Phone:*</label>
                        <input autocomplete="off" ng-model='vm.member.phone' ng-model-options="{ updateOn: 'blur' }"
                               required type="text" ui-mask="(999) 999-999" ui-mask-placeholder ui-mask-placeholder-char="_"
                               name="phone" class='input-black phone' placeholder="Phone">
                        <div ng-show="form.phone.$touched" class="red-text">
                            <div ng-show="form.phone.$error.required" class="text-left">Tell us your phone.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label>Address:*</label>
                        <input ng-model='vm.member.address' ng-model-options="{ updateOn: 'blur' }"
                               required type="text" name="address" class='input-black' placeholder="Delivery Address">
                        <div ng-show="form.address.$touched" class="red-text">
                            <div ng-show="form.address.$error.required" class="text-left">Tell us your address.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label>Birth Date:*</label>
                        <input type='text' data-language='en' required ng-model='vm.member.birth_date' name='birth_date' id='datepicker-birth'
                               placeholder="Date" class="datepicker-here input-black"/>
                        <div ng-show="form.birth_date.$touched" class="red-text">
                            <div ng-show="form.birth_date.$error.required" class="text-left">Tell us your birth date.</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <div class='captcha captcha-left m-0' on-create="vm.captchaReady = true"  vc-recaptcha ng-model="vm.member.captcha" key="'6Le20SAUAAAAAHbKw8wB0UH6-PPrYnxog8Ie2b92'"></div>
                    </div>
                    <div class="col-12 justify-content-center">
                        <button type="button" class="btn btn-black" ng-click="vm.saveMember()"  ng-disabled="!vm.isCaptchaChecked()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-include src="'app/views/partials/footer.html'"></div>
<script>
    $(function() {
        $('.owl-carousel').owlCarousel({
            items: 1,
            autoplay: true,
            loop: true
        });
    });
</script>
