<div ng-include src="'app/views/partials/header.html'"></div>
<div id="events" class="container">
    <div class="row">
        <div class="title-page col-12">
            <h1 class='row justify-content-center'>News</h1>
        </div>
        <div ng-repeat="article in vm.news track by article.id" class="col-xl-4 col-md-6 col-12">
            <div class="van__box">
                <h3>{{ article.formatedDate }}</h3>
                <div>
                    <img ng-src='uploads/{{ article.avatar }}'>
                </div>
                <p class='f7'>{{ article.title }}</p>
                <button type="button" class="btn-black"><a ui-sref="article({id: article.id})">READ MORE</a></button>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'app/views/partials/footer.html'"></div>
