<div ng-include src="'app/views/partials/header.html'"></div>
<div ng-class='{active: vm.galleryActivation == true}' class="gallery-popup">
    <img class='align-self-center' src="{{vm.wine.galleryitem}}">
    <div class='gallery-close' ng-click='vm.gallerydeactivate()'>X</div>
    <div class="w-100">
        <div class="owl-carousel owl-theme">
            <div ng-repeat="galitem in vm.wine.gallery track by $index" ng-click='vm.setActiveGallery($index)' class="wine-gallery-item col">
                <div class="inner-container">
                    <div ng-style='{"background-image": "url({{galitem.file}})"}'></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pb-5" id='wine-page'>
    <div class="row">
        <div class="col-12 title-page">
            <h1 class='row justify-content-center'>{{vm.wine.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="col-12">
                <div class="row justify-content-between">
                    <div class='col-12 wine-page__imagebox mb-2'>
                        <img src="/uploads/{{ vm.wine.avatar }}" alt='{{vm.wine.name}}'>
                        <span class='stars' data-toggle="tooltip" data-placement="right" title="To rate this wine you need to leave a feedback">
                            <i ng-repeat='star in vm.wineStars track by $index' class="fa fa-star" aria-hidden="true"></i>
                        </span>
                        <h2 class='red-text alcohol'><b>{{vm.wine.alcohol_lvl}}%</b></h2>
                        <span ng-if='vm.wine.barrel_aged' class='barrel'>
                            <img height="35" width="35" src="https://d30y9cdsu7xlg0.cloudfront.net/png/92346-200.png">
                        </span>
                    </div>
                    <div class="col-12">
                        <div class="row flex-wrap">
                            <div ng-repeat="galitem in vm.wine.gallery track by $index" ng-click='vm.setActiveGallery($index); vm.galleryactivate()' class="wine-gallery-item col-xl-4 col-lg-6 col-md-4 col-6">
                                <div class="inner-container">
                                    <div ng-style='{"background-image": "url({{galitem.file}})"}'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-sm-down col-md-12">
                        <div class="row">
                            <h2 class='text-center text-sm-left wine-page__subtitles w-100'>Feedback</h2>
                            <div class="wine-page__feedback col-12" ng-repeat='feed in vm.wine.feedback'>
                                <div class="w-100 text-left">
                                    <b>{{feed.full_name}}</b>
                                    <span class='red-text pull-right d-flex'>
                                        <i ng-repeat='star in vm.getNumber(feed.rate) track by $index' class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                    <i>{{feed.description}}</i>
                                </div>
                            </div>
                        </div>
                        <form method="post" class='wine-page__feedback-form'>
                            <hr class='row product-seperator'>
                            <div class="row">
                                <div class="col-12 mb-4"><h4 class="text-left">New Feedback</h4></div>
                                <div class="col-12 col-sm-6 mb-3">
                                    <label class='w-100' for='full_name'>Full Name*</label>
                                    <input type="text" name="full_name" ng-model="vm.newFeedback.full_name" placeholder="Full Name" class="input-black" />
                                </div>
                                <div class="col-12 col-sm-6 mb-3">
                                    <label class='w-100' for='rate'>Wine Rate*</label>
                                    <select class='input-black' ng-model="vm.newFeedback.rate" name="rate">
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                                <div class="col-12 mb-3">
                                    <label class='w-100' for='description'>Your Feedback*</label>
                                    <textarea name="description" ng-model="vm.newFeedback.description" class="input-black" placeholder="Leave your feedback here">
                                    </textarea>
                                </div>
                                <div class='col-12 mb-3'>
                                    <div class='captcha' on-create="vm.captchaReady = true" vc-recaptcha ng-model="vm.newFeedback.captcha" key="'6Le20SAUAAAAAHbKw8wB0UH6-PPrYnxog8Ie2b92'"></div>
                                </div>
                                <div class='col-12'>
                                    <button ng-disabled="!vm.isCaptchaChecked()" ng-click="vm.saveFeedback(vm.newFeedback)" class="btn-black">SEND</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <h2 class='text-center text-sm-left wine-page__subtitles mt-0'>Description</h2>
                    <div class='text-left'>{{vm.wine.description}}</div>
                </div>
                <div class="col-12 wine-page__pairing">
                    <h2 class='text-center text-sm-left wine-page__subtitles'>Pairings</h2>
                    <div class="w-100 d-flex flex-wrap justify-content-center">
                        <div class='d-flex col-3 flex-column align-items-center' ng-repeat="pairing in vm.wine.pairings">
                            <i class="{{pairing.icon}}"></i>
                            <span>{{pairing.name}}</span>
                        </div>
                    </div>
                </div>
                <div ng-if='vm.wine.medals.length' class="col-12">
                    <h2 class='text-center text-sm-left wine-page__subtitles'>Medals</h2>
                    <div ng-repeat="medal in vm.wine.medals" class='d-flex w-100 align-items-center wine-page__medals pb-3 pt-3 m-2'>
                        <img ng-src="/uploads/{{medal.image}}" height="60" width="60">
                        <div class="text-left ml-3">
                            <h4 class='text-left'>{{medal.name}}</h4>
                            <span class="red-text">{{medal.date}}</span>
                        </div>
                    </div>
                </div>
                <div class='col-12'>
                    <h2 class='text-center text-sm-left wine-page__subtitles'>Availability</h2>
                    <div class="w-100">
                        <h3 class='f7 text-left'>
                            In Stock:
                            <span class='f3 pull-right' ng-if='vm.wine.in_stock > 10'>Available</span>
                            <span class='f3 pull-right red-text' ng-if='vm.wine.in_stock === 0'>0</span>
                            <span class='f3 pull-right red-text' ng-if='vm.wine.in_stock < 10 && vm.wine.in_stock > 0'>{{vm.wine.in_stock}} Left</span>
                        </h3>
                    </div>
                    <div class="w-100">
                        <h3 ng-if='vm.wine.discount != 0' class='text-left f7'>Discount: <span class='f3 pull-right'>{{vm.wine.discount}}%</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="product_calculator w-100">
                    <hr class='row product-seperator'>
                    <div class="row mt-2 justify-content-center justify-content-sm-start">
                        <div class="col-12 col-sm-6 justify-content-center justify-content-sm-start">
                            <div class="row">
                                <label for="event-price" class="col-12 col-sm-4 col-form-label justify-content-center justify-content-sm-start align-items-center">Quantity:</label>
                                <div class="col-12 col-sm-8 mt-3 mb-3 mt-sm-0 mb-sm-0">
                                    <input class="input-black m-0" type="number" value="1" ng-model='vm.wine.quantity' id="event-price" min="1">
                                </div>
                            </div>
                        </div>
                        <div class='col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end'>
                            <h3 class='f7'>{{ vm.wine.quantity*vm.wine.price*(1-vm.wine.discount/100) | number:0 | prettyNumber }} AMD</h3>
                        </div>
                        <add-to-cart ng-if='vm.wine.in_stock != 0' class='col-12 justify-content-center justify-content-sm-end mt-4' presave="vm.preSaveInCart(vm.wine)" aftersave="vm.afterSaveInCart()"></add-to-cart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'app/views/partials/footer.html'"></div>
<script type="text/javascript">
$(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
})
$(function() {
    $('.owl-carousel').owlCarousel({
        items: 5,
        autoplay: true
    });
});
</script>
