<div ng-include src="'app/views/partials/header.html'"></div>
<div class="container-fluid pb-5">
    <div class="row">
        <div class="carousel">
            <div class="owl-carousel owl-theme">
                <div ng-repeat="item in vm.content.images" class="item" style="background-image:url({{ item.file }})">
                    <h1>{{ vm.content.title }}</h1>
                    <h2>{{ vm.content.secondary_title }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="title-page col-12">
                    <h1 class='row justify-content-center'>Our Wines</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3" ng-repeat='wine in vm.wines'>
                    <div class='our-wines__imagebox'>
                        <div ng-style='{"background-image": "url(/uploads/{{wine.avatar}})"}'></div>
                        <button class='btn-red on-wine' type="button" ui-sref="wine({id: wine._id})"><a>VIEW MORE</a></button>
                    </div>
                    <div class="our-wines__text">
                        <p><span class='f1' ng-repeat="tag in wine.tag">{{ tag }}{{$last ? ' ' : ', '}}</span></p>
                        <h4 class='mt-2 f3'>{{ wine.name }}</h4>
                        <h5 class='f7'>{{ wine.price*(1-wine.discount/100) | number: 0 }} AMD</h5>
                        <p ng-if='wine.in_stock < 10 && wine.in_stock > 1'>Left in Stock: <span class='red-text'>{{wine.in_stock}}</span></p>
                        <p ng-if='wine.in_stock == 0' class='red-text'>Out of Stock</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'app/views/partials/footer.html'"></div>
<script>
    $(function(){
        $('.owl-carousel').owlCarousel({
            items: 1,
            autoplay: true,
        loop: true
        });
    });
</script>