{% extends '../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style>
[readonly] {
    background: transparent!important;
}
</style>
<div class="about-us-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-xs-12">
            <h4 class="page-title">About Us</h4>
            <p class="text-muted page-title-alt">Here you can edit about us page!</p>
            <div>
                <ol class="breadcrumb pull-left">
                    <li>
                        <a href="/admin/home">Pages</a>
                    </li>
                    <li class="active">
                        About Us
                    </li>
                </ol>
                <a href="javascript:;" class="on-add-new-item btn btn-default pull-right btn-md waves-effect waves-light m-b-30"><i class="md md-add"></i> New About Us item</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="new-faq col-xs-12 hidden js-new-item">
            <div class="card-box">
                <h4 class="page-title m-b-15">New Item</h4>
                <form class="form-horizontal group-border-dashed" action="/admin/pages/about" enctype="multipart/form-data" method="post" data-parsley-validate novalidate>
                    <div class="form-group">
                        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                            <label class='m-t-15 m-b-15'>Image*</label>
                            <a href="http://placehold.it/600x430?text=Upload+your+photo" class="image-popup">
                                <img src="http://placehold.it/600x430?text=Upload+your+photo" class="thumb-img" alt="work-thumbnail">
                            </a>
                            <div class="m-t-15 m-b-15 text-center">
                                <input type="file" name='image' class="filestyle form-inline" data-icon="false" data-buttontext="Upload" data-input="false" data-badge="false" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label class='m-t-15 m-b-15'>Title*</label>
                                    <input type="text" name='title' class="form-control" required placeholder="Banner Title" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label class='m-t-15 m-b-15'>Date*</label>
                                    <div class="input-group">
                                        <input type="text" name='date' class="form-control datepicker-autoclose" placeholder="MM/YYYY" readonly>
                                        <span class="input-group-addon bg-custom b-0 text-white show-calendar"><i class="icon-calender"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label class='m-t-15 m-b-15'>Description*</label>
                                    <textarea class='form-control' name="description" required placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="pull-right m-t-15">
                                        <button type="button" class="btn btn-md btn-danger on-add-new-item">Delete</button>
                                        <button type="submit" class="btn btn-md btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="_method" value="post" />
                </form>
            </div>
        </div>
    </div>
    {% for item in items %}
    <div class="row data-row" data-data="{{ item | json_encode }}">
        <div class="col-xs-12">
            <div class="card-box">
                <h4 class="page-title m-b-15">Item #{{ loop.index }}</h4>
                <form class="form-horizontal group-border-dashed" method="post" enctype="multipart/form-data" action="/admin/pages/about/{{ item.id }}" data-parsley-validate novalidate>
                    <div class="form-group">
                        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                            <label class='m-t-15 m-b-15'>Image*</label>
                            <a href="/uploads/{{ item.image }}" class="image-popup" title="Screenshot-1">
                                <img src="/uploads/{{ item.image }}" class="thumb-img" alt="work-thumbnail">
                            </a>
                            <div class="m-t-15 m-b-15 text-center">
                                <input type="file" name='image' class="filestyle form-inline" data-badge="false" data-icon="false" data-buttontext="Replace" data-input="false">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label class='m-t-15 m-b-15'>Title*</label>
                                    <input type="text" name='title' class="form-control" required placeholder="Banner Title" id='faq-question-1' value='{{ item.title }}' />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label class='m-t-15 m-b-15'>Date*</label>
                                    <div class="input-group">
                                        <input type="text" name='date' class="form-control datepicker-autoclose " value="{{ item.date }}" readonly>
                                        <span class="input-group-addon bg-custom b-0 text-white  show-calendar"><i class="icon-calender"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label class='m-t-15 m-b-15'>Description*</label>
                                    <textarea class='form-control' name="description" required placeholder="Description">{{ item.description }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="pull-right m-t-15">
                                        <button type="button" class="btn btn-md btn-danger on-delete-item">Delete</button>
                                        <button type="submit" class="btn btn-md btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id='_method' name="_method" value="PUT">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end row -->
    <!-- end row -->
</div>
<!-- container -->
{% endblock %} {% block customscripts %}
<script src="/app/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="/app/assets/plugins/parsleyjs/parsley.min.js"></script>
<script src="/app/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script src="/app/assets/js/file-uploader.init.js"></script>
<script>
(function($) {
    'use strict';

    function eventHandlers() {
        $('.form-horizontal').parsley();

        $('.datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'mm/yyyy',
            startView: "months",
            minViewMode: "months"
        });

        $('.on-add-new-item')
            .click(function() {
                $('.js-new-item').toggleClass('hidden');
            });
        $('.show-calendar').click(function() {
            $(this).parent().find('.datepicker-autoclose').datepicker('show');
        });
        $('.on-delete-item')
            .click(function() {
                var $el = $(this).closest('.data-row'),
                    data = $el.data('data');
                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this item!",
                    type: "error",
                    showCancelButton: true,
                    confirmButtonClass: 'btn-danger',
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: true
                }, function() {
                    $.ajax({
                        url: '/admin/pages/about/' + data.id,
                        type: 'DELETE',
                        success: function() {}
                    });
                    $el.remove();
                });
            })
    }

    $(function() {
        eventHandlers();
    });

}).apply(this, [jQuery]);
</script>
{% endblock %}
