{% extends '../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style type="text/css">
.input-group {
    width: 100%;
}

.input-group .input-group-addon {
    width: 38px;
}
</style>
<div class="about-us-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-xs-12">
            <h4 class="page-title">Contact Us</h4>
            <p class="text-muted page-title-alt">Here you can edit contact us page!</p>
            <div>
                <ol class="breadcrumb pull-left">
                    <li>
                        <a href="/admin/home">Pages</a>
                    </li>
                    <li class="active">
                        Contact Us
                    </li>
                </ol>
                <a href="javascript:;" class="btn btn-default pull-right btn-md waves-effect waves-light m-b-30 on-add-new-store"><i class="md md-add"></i> New Store</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card-box">
                <h4 class="page-title m-b-15">Contact Information</h4>
                <form class="form-horizontal group-border-dashed"
                      action="/admin/pages/contact"
                     method="post">
                    <div class="form-group">
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <label class='m-t-15 m-b-15'>Phone*</label>
                            <div class='input-group'>
                                <span class="bg-custom b-0 input-group-addon text-white">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" name="phone" class="form-control" data-mask="(999) 999-999" required placeholder="Phone Number" value='{{ data.phone }}' />
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <label class='m-t-15 m-b-15'>Email*</label>
                            <div class='input-group'>
                                <span class="bg-custom b-0 input-group-addon text-white">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" name="email" class="form-control" required placeholder="Email" value='{{ data.email }}' />
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <label class='m-t-15 m-b-15'>Address*</label>
                            <div class='input-group'>
                                <span class="bg-custom b-0 input-group-addon text-white">
                                    <i class="fa fa-building"></i>
                                </span>
                                <input type="text" name="address" class="form-control" required placeholder="Address" value='{{ data.address }}' />
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <label class='m-t-15 m-b-15'>Facebook</label>
                            <div class='input-group'>
                                <span style='background-color: #3B5998' class="b-0 input-group-addon text-white">
                                    <i class="fa fa-facebook"></i>
                                </span>
                                <input type="text" class="form-control" name="facebook" placeholder="Facebook url" value='{{ data.facebook }}' />
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <label class='m-t-15 m-b-15'>Twitter</label>
                            <div class='input-group'>
                                <span style='background-color: #00ACED' class="b-0 input-group-addon text-white">
                                    <i class="fa fa-twitter"></i>
                                </span>
                                <input type="text" name="twitter" class="form-control" placeholder="Twitter url" value='{{ data.twitter }}' />
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <label class='m-t-15 m-b-15'>Google Plus</label>
                            <div class='input-group'>
                                <span style='background-color: #DD4B39' class="b-0 input-group-addon text-white">
                                    <i class="fa fa-google"></i>
                                </span>
                                <input type="text" name="google" class="form-control" placeholder="Google plus url" value='{{ data.google }}' />
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <label class='m-t-15 m-b-15'>Youtube</label>
                            <div class='input-group'>
                                <span style='background-color: #BB0000' class="b-0 input-group-addon text-white">
                                    <i class="fa fa-youtube"></i>
                                </span>
                                <input type="text" name="youtube" class="form-control" placeholder="Youtube url" value='{{ data.youtube }}' />
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-xs-12">
                            <label class='m-t-15 m-b-15'>Instagram</label>
                            <div class='input-group'>
                                <span style='background-color: #6A453B' class="b-0 input-group-addon text-white">
                                    <i class="fa fa-instagram"></i>
                                </span>
                                <input type="text" name="instagram" class="form-control" placeholder="Instagram url" value='{{ data.instagram }}' />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="m-t-15">
                                <button type="submit" class="btn btn-md btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="_method" value="put">
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 js-new-store hidden">
            <div class="card-box">
                <h4 class="page-title m-b-15">Add New Store</h4>
                <div class="row">
                    <form id="form" action='/admin/stores' class="form-horizontal col-xs-12 group-border-dashed" method="POST" data-parsley-validate novalidate>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class=''>Store name</label>
                                <input type="text" class="form-control" name="name" required placeholder="Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class=''>City</label>
                                <input type="text" class="form-control" name="address" required placeholder="Address" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class=''>Phone</label>
                                <input type="text" class="form-control" name="phone" required placeholder="+(374) 999-999" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="m-t-15">
                                    <button type="reset" class="btn btn-md btn-danger">Reset</button>
                                    <button type="submit" class="btn btn-md btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="_method" id="_method" value="post">
                    </form>
                </div>
            </div>
        </div>
        {% for store in stores %}
        <div data-data="{{ store | json_encode }}" class="col-xs-6 data-row">
            <div class="card-box">
                <h4 class="page-title m-b-15">Store #{{ loop.index }}</h4>
                <form class="form-horizontal group-border-dashed" method="post" data-parsley-validate novalidate action="/admin/stores/{{ store._id |safe}}">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class=''>Store name*</label>
                            <input type="text" name='name' class="form-control" required placeholder="Name"  value='{{ store.name }}' />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class=''>Address*</label>
                            <input type="text" name='address' class="form-control" value="{{ store.address }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class=''>Phone*</label>
                            <input type="text" name="phone" value="{{ store.phone }}" class="form-control" id="phone" placeholder="Enter Phone number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="m-t-15">
                                <button type="button" class="btn btn-md btn-danger on-delete-item">Delete</button>
                                <button type="submit" class="btn btn-md btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id='_method' name="_method" value="PUT">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- container -->
{% endblock %} {% block customscripts %}
<script src="/app/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="/app/assets/pages/jquery.sweet-alert.init.js"></script>
<script src="/app/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script src="/app/assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
<script>
    $(function() {

        eventHandlers();

        function eventHandlers() {
            $('.on-add-new-store')
                .click(function() {
                    $('.js-new-store').toggleClass('hidden');
                });

            $('.on-delete-item')
                    .click(function() {
                        var $el = $(this).closest('.data-row'),
                                data = $el.data('data');

                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this item!",
                            type: "error",
                            showCancelButton: true,
                            confirmButtonClass: 'btn-danger',
                            confirmButtonText: "Yes, delete it!",
                            closeOnConfirm: true
                        }, function() {
                            $.ajax({
                                url: '/admin/stores/' + data._id,
                                type: 'DELETE',
                                success: function() {}
                            });
                            $el.remove();
                        });
                    })
        }
    })
</script>
{% endblock %}
