{% extends '../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="faq-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-xs-12">
            <h4 class="page-title">FAQ Page</h4>
            <p class="text-muted page-title-alt">Here you can edit faq page!</p>
            <div>
                <ol class="breadcrumb pull-left">
                    <li>
                        <a href="/admin/home">Pages</a>
                    </li>
                    <li class="active">
                        FAQ
                    </li>
                </ol>
                <a href="javascript:;" class="on-add-new-item btn btn-default pull-right btn-md waves-effect waves-light m-b-30">
                    <i class="md md-add"></i> New FAQ item
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="new-faq col-xs-6 hidden js-new-item">
            <div class="card-box">
                <form class="form-horizontal group-border-dashed" action="/admin/faq"
                      method="post" data-parsley-validate novalidate>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class='m-t-15 m-b-15' for='faq-question-new'>New question</label>
                            <input type="text" class="form-control" required placeholder="Banner Title" id='faq-question-new' name="question"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class='m-t-15 m-b-15' for='faq-answer-new'>New answer</label>
                            <textarea name='answer' class='form-control' id="faq-answer-new" required
                                      placeholder="Faq answer goes here"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="m-t-15">
                                <button type="submit" class="btn btn-md btn-primary">Submit</button>
                                <button type="reset" class="btn btn-md btn-danger">Reset</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="_method" value="post" />
                </form>
            </div>
        </div>

        {% for faq in faqs %}
            {% set index = loop.index0 + 1 %}
            <div class="col-xs-6 data-row" data-data="{{ faq | json_encode }}">
                <div class="card-box">
                    <form class="form-horizontal group-border-dashed" action="/admin/faq/{{ faq.id }}" method="post">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class='m-t-15 m-b-15' for='faq-question-{{ index }}'>Question {{ index }}</label>
                                <input type="text" class="form-control" required placeholder="Banner Title"
                                       id='faq-question-{{ index }}' name="question"
                                       value='{{ faq.question }}' />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class='m-t-15 m-b-15' for='faq-answer-{{ index }}'>Answer {{ index }}</label>
                                <textarea class='form-control' id="faq-answer-{{ index }}" required
                                          name="answer"
                                          placeholder="Faq answer goes here">{{ faq.answer }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="m-t-15">
                                    <button type="submit" class="btn btn-md btn-primary">Update</button>
                                    <button type="button" class="btn btn-md btn-danger on-delete-item">Delete</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="_method" name="_method" value="put" />
                    </form>
                </div>
            </div>
        {% endfor %}
        <!--FAQ items-->
    </div>
</div>
<!-- end row -->
</div>
<!-- container -->
{% endblock %} {% block customscripts %}
<script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="/app/assets/plugins/parsleyjs/parsley.min.js"></script>
<script>
    (function( $ ) {
        'use strict';
        function eventHandlers() {
            $('#new-faq').parsley();

            $('.on-add-new-item')
                .click(function() { $('.js-new-item').toggleClass('hidden'); });

            $('.on-delete-item')
                .click(function() {
                    var $el = $(this).closest('.data-row')
                        , data = $el.data('data');
                    swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this item!",
                        type: "error",
                        showCancelButton: true,
                        confirmButtonClass: 'btn-danger',
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: true
                    }, function () {
                        $.ajax({
                            url: '/admin/faq/' + data.id,
                            type: 'DELETE',
                            success: function () {}
                        });
                        $el.remove();
                    });
                })
        }

        $(function() {
            eventHandlers();
        });

    }).apply( this, [ jQuery ]);
</script>
{% endblock %}
