{% extends '../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="dashboard-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Dashboard</h4>
            <p class="text-muted page-title-alt">Here you can view all of the activities going on your platform!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <a href="/admin/orders">
                <div class="widget-panel widget-style-2 bg-white">
                    <i class="md md-add-shopping-cart text-primary"></i>
                    <h2 class="m-0 text-dark counter font-600">{{ orders }}</h2>
                    <div style='width: calc(100% - 128px); text-overflow: ellipsis; white-space: nowrap; overflow: hidden;' class="text-muted m-t-5">Pending Orders</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a href="/admin/members">
                <div class="widget-panel widget-style-2 bg-white">
                    <i class="md md-wallet-membership"></i>
                    <h2 class="m-0 text-dark counter font-600">{{ club_member }}</h2>
                    <div style='width: calc(100% - 128px); text-overflow: ellipsis; white-space: nowrap; overflow: hidden;' class="text-muted m-t-5">Pending Members</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a href="/admin/events">
                <div class="widget-panel widget-style-2 bg-white">
                    <i class="md md-event-available text-info"></i>
                    <h2 class="m-0 text-dark counter font-600">{{ events }}</h2>
                    <div style='width: calc(100% - 128px); text-overflow: ellipsis; white-space: nowrap; overflow: hidden;' class="text-muted m-t-5">Upcoming Events</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a href="/admin/tours">
                <div class="widget-panel widget-style-2 bg-white">
                    <i class="md md-directions text-pink"></i>
                    <h2 class="m-0 text-dark counter font-600">{{ tours }}</h2>
                    <div style='width: calc(100% - 128px); text-overflow: ellipsis; white-space: nowrap; overflow: hidden;' class="text-muted m-t-5">Upcoming Tours</div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6">
            <a href="/admin/subscribers">
                <div class="widget-panel widget-style-2 bg-white">
                    <i class="md md-account-child text-custom"></i>
                    <h2 class="m-0 text-dark counter font-600">{{ subscribers }}</h2>
                    <div style='width: calc(100% - 128px); text-overflow: ellipsis; white-space: nowrap; overflow: hidden;' class="text-muted m-t-5">Total Subscribers</div>
                </div>
            </a>
        </div>
    </div>
</div>
<footer class="footer text-right">
    © 2017. All rights reserved. Powered By Cerberus Team.
</footer>
{% endblock %} {% block customscripts %}
{% endblock %}
