{% extends '../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style>
    [readonly] {
        background: transparent!important;
    }
</style>
<div class="club-members-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-15">
                <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                <ul class="dropdown-menu drop-menu-right" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <h4 class="page-title">Club Members</h4>
            <p class="text-muted page-title-alt">Here you can view and edit your club members!</p>
            <ol class="breadcrumb">
                <li>
                    <a href="/admin">Dashboard</a>
                </li>
                <li class="active">
                    Clients
                </li>
                <li class="active">
                    Club Members
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card-box">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-b-30">
                                    <a href="javascript:;" class="btn btn-default btn-md waves-effect waves-light m-b-30 js-modal"><i class="md md-add"></i> New Club Member</a>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <table class="table table-striped" id="datatable-editable">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Birth Date</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Promo Code</th>
                                        <th>Status</th>
                                        <th style='padding: 0; text-align: center;'>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in members %}
                                    <tr class="gradeA" data-data="{{ member | json_encode }}">
                                        <td>{{ member.first_name }}</td>
                                        <td>{{ member.last_name }}</td>
                                        <td>{{ member.birth_date }}</td>
                                        <td>{{ member.email }}</td>
                                        <td>{{ member.address }}</td>
                                        <td>{{ member.phone }}</td>
                                        <td>{{ member.promo_code || '-'}}</td>
                                        <td><span class="label label-{%if member.status == 'confirmed' %}success{%endif%}{%if member.status == 'pending'%}primary{%endif%}">{{ member.status }}</span></td>
                                        <td class="actions text-center">
                                            {% if member.status == 'pending' %}
                                            <a href="javascript:;" class="on-default confirm-row" style="color:green"><i class="fa fa-check"></i></a>
                                            {% endif %}
                                            <a href="javascript:;" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                            <a href="javascript:;" class="on-default remove-row"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end: page -->
                </div>
                <!-- end Panel -->
            </div>
        </div>
    </div>
</div>
<!-- container -->
<div id="dialog" class="modal-block mfp-hide">
    <section class="panel panel-info panel-color">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Are you sure that you want to delete this row?</p>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm" class="btn btn-primary waves-effect waves-light">Confirm</button>
                    <button id="dialogCancel" class="btn btn-default waves-effect">Cancel</button>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Add Club member</h4>
    <div class="custom-modal-text text-left">
        <form role="form" id="member-form" method="post"
              data-parsley-validate novalidate>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" required class="form-control" id="first_name" placeholder="Enter first name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" required class="form-control" id="last_name" placeholder="Enter last name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" required parsley-type="email" class="form-control" id="email" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label for="datepicker">Birth Date</label>
                <input type="text" name="birth_date" class="form-control datepicker-autoclose" readonly placeholder="DD/MM/YYYY" id="datepicker">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" data-mask="(999) 999-999" class="form-control" id="phone" placeholder="Enter Phone number">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" name='address' class="form-control" id="address" placeholder="Enter Address">
            </div>
            <div class="form-group">
                <label for="address">Status</label>
                <select name="status" id="status" class="form-control">
                    <option value="pending">Pending</option>
                    <option value="confirmed">Confirmed</option>
                </select>
            </div>
            <input type="hidden" id='_method' name="_method" value="POST">
            <button type="submit" class="btn btn-default waves-effect waves-light">Save</button>
            <button onclick="Custombox.close();" type="button" class="btn btn-danger waves-effect waves-light m-l-10">Cancel</button>
        </form>
    </div>
</div>
{% endblock %} {% block customscripts %}
<script src="/app/assets/plugins/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="/app/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
<script src="/app/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/app/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
<script src="/app/assets/plugins/tiny-editable/numeric-input-example.js"></script>
<script src="/app/assets/plugins/custombox/js/custombox.min.js"></script>
<script src="/app/assets/plugins/custombox/js/legacy.min.js"></script>
<script src="/app/assets/plugins/moment/moment.js"></script>
<script src="/app/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/app/assets/plugins/parsleyjs/parsley.min.js"></script>
<script src="/app/assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
<script>
    /**
     * Theme: Ubold Admin Template
     * Author: Coderthemes
     * Component: Editable
     *
     */

    (function( $ ) {

        'use strict';
        var $form = $('#member-form');
        var $method = $('#_method');
        var url = '/admin/members';

        var EditableTable = {

            options: {
                addButton: '#addToTable',
                table: '#datatable-editable',
                dialog: {
                    wrapper: '#dialog',
                    cancelButton: '#dialogCancel',
                    confirmButton: '#dialogConfirm',
                }
            },

            initialize: function() {
                this
                    .setVars()
                    .build()
                    .events();
            },

            setVars: function() {
                this.$table             = $( this.options.table );
                this.$addButton         = $( this.options.addButton );

                // dialog
                this.dialog             = {};
                this.dialog.$wrapper    = $( this.options.dialog.wrapper );
                this.dialog.$cancel     = $( this.options.dialog.cancelButton );
                this.dialog.$confirm    = $( this.options.dialog.confirmButton );

                return this;
            },

            build: function() {
                this.datatable = this.$table.DataTable({
                    aoColumns: [
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        { "bSortable": false }
                    ]
                });

                window.dt = this.datatable;

                return this;
            },

            events: function() {
                var _self = this;

                this.$table
                    .on('click', 'a.edit-row', function( e ) {
                        var data = $(this).closest( 'tr' ).data('data')
                            , $inputs = $form.find('input')
                            , $el = null;

                        $inputs.each(function () {
                            $el = $(this);
                            if ($el.attr('name')) {
                                $el.val(data[$el.attr('name')]);
                            }
                        });

                        $('select').val(data.status);
                        $('[name="phone"]').inputmask({mask: '(999) 999-999'});

                        $method.val('PUT');
                        $form.attr('action', url + '/' + data.id);

                        Custombox.open({target: '#custom-modal'});
                    })
                    .on('click', 'a.confirm-row', function( e ) {
                        var $row = $(this).closest( 'tr' );
                        var data = $row.data('data');
                        data.status = 'confirmed';

                        $.ajax({
                            url: url +'/'+ data.id,
                            type: 'PUT',
                            data: data,
                            success: function () {
                                $(e.target).remove();

                                $row.find('.label')
                                    .removeClass('label-primary')
                                    .addClass('label-success')
                                    .html('confirmed');
                            }
                        });
                    })
                    .on( 'click', 'a.remove-row', function( e ) {
                        e.preventDefault();

                        var $row = $(this).closest( 'tr' );

                        $.magnificPopup.open({
                            items: {
                                src: _self.options.dialog.wrapper,
                                type: 'inline'
                            },
                            preloader: false,
                            modal: true,
                            callbacks: {
                                change: function() {
                                    _self.dialog.$confirm.on( 'click', function( e ) {
                                        e.preventDefault();
                                        var id = ($row.data('data')).id;
                                        $.ajax({
                                            url: url +'/'+ id,
                                            type: 'DELETE',
                                        });
                                        _self.rowRemove( $row );
                                        $.magnificPopup.close();
                                    });
                                },
                                close: function() {
                                    _self.dialog.$confirm.off( 'click' );
                                }
                            }
                        });
                    });

                this.dialog.$cancel.on( 'click', function( e ) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });

                return this;
            },

            // ==========================================================================================
            // ROW FUNCTIONS
            // ==========================================================================================

            rowCancel: function( $row ) {
                var _self = this,
                    $actions,
                    data;

                if ( $row.hasClass('adding') ) {
                    this.rowRemove( $row );
                } else {

                    data = this.datatable.row( $row.get(0) ).data();
                    this.datatable.row( $row.get(0) ).data( data );

                    $actions = $row.find('td.actions');
                    if ( $actions.get(0) ) {
                        this.rowSetActionsDefault( $row );
                    }

                    this.datatable.draw();
                }
            },

            rowRemove: function( $row ) {
                if ( $row.hasClass('adding') ) {
                    this.$addButton.removeAttr( 'disabled' );
                }

                this.datatable.row( $row.get(0) ).remove().draw();
            },

            rowSetActionsEditing: function( $row ) {
                $row.find( '.on-editing' ).removeClass( 'hidden' );
                $row.find( '.on-default' ).addClass( 'hidden' );
            },

            rowSetActionsDefault: function( $row ) {
                $row.find( '.on-editing' ).addClass( 'hidden' );
                $row.find( '.on-default' ).removeClass( 'hidden' );
            }

        };

        $(function() {
            EditableTable.initialize();
            $('.datepicker-autoclose').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy'
            });
            $form.parsley();
            $('.js-modal').click(function (ev) {
                var $inputs = $form.find('input');

                $inputs.each(function() { $(this).val(''); });

                $method.val('POST');
                $form.attr('action', url);

                Custombox.open({target: '#custom-modal'})
            });
        });

    }).apply( this, [ jQuery ]);
</script>

{% endblock %}
