{% extends '../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<div class="moderator-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Moderators</h4>
            <p class="text-muted page-title-alt">Here you can view and edit your moderators list!</p>
            <ol class="breadcrumb">
                <li><a href="/admin">Dashboard</a></li>
                <li class="active">Moderators</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a class="btn btn-default btn-md waves-effect waves-light m-b-30 js-modal"><i class="md md-add"></i> Add Moderator</a>
        </div>
    </div>
    <div class="row">
        {% for moderator in moderators %}
        <div class="col-sm-6 col-lg-4 data-row" data-data="{{ moderator | json_encode }}">
            <div class="card-box">
                <div class="contact-card">
                    <!--<a class="pull-left" href="#">-->
                        <!--<img class="img-circle" src="/app/assets/images/users/avatar-2.jpg" alt="">-->
                    <!--</a>-->
                    <div class="member-info">
                        <h4 class="m-t-0 m-b-5 header-title"><b>{{ moderator.name }}</b></h4>
                        <p class="text-muted">{{ moderator.role }}</p>
                        <p class="text-dark"><i class="md md-business m-r-10"></i><small>Van Ardi</small></p>
                        <p class='m-t-0 m-b-0'>Phone: {{ moderator.phone }}</p>
                        <p class='m-t-0 m-b-0'>Email: {{ moderator.email }}</p>
                        <div class="contact-action">
                            <a href="javascript:;" class="btn btn-success btn-sm js-edit"><i class="md md-mode-edit"></i></a>
                            <a href="javascript:;" class="btn btn-danger btn-sm js-remove"><i class="md md-close"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- end col -->
    </div>
</div>
<!-- Modal -->
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Add Moderator</h4>
    <div class="custom-modal-text text-left">
        <form role="form" name="moderator-form" id="moderator-form" method="post" data-parsley-validate novalidate>
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" required name='name' id="name" placeholder="Enter first and last name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password"  class="form-control" id="password" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" parsley-type="email" required name="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" data-mask="(999) 999-999" class="form-control" id="phone" placeholder="Enter Phone number">
            </div>
            <input type="hidden" id='_method' name="_method" value="POST">
            <button type="submit" class="btn btn-default waves-effect waves-light">Save</button>
            <button type="button" onclick="Custombox.close();" class="btn btn-danger waves-effect waves-light m-l-10">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}
{% block customscripts %}
<script src="/app/assets/plugins/custombox/js/custombox.min.js"></script>
<script src="/app/assets/plugins/custombox/js/legacy.min.js"></script>
<script src="/app/assets/plugins/parsleyjs/parsley.min.js"></script>
<script src="/app/assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
<script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script>
/**
     * Theme: Ubold Admin Template
     * Author: Coderthemes
     * Component: Editable
     *
     */
(function( $ ) {

    'use strict';
    var $form = $('#moderator-form');
    var $method = $('#_method');
    var url = '/admin/moderators';

    var EditableTable = {

        options: {
            addButton: '#addToTable',
            table: '#datatable-editable',
            dialog: {
                wrapper: '#dialog',
                cancelButton: '#dialogCancel',
                confirmButton: '#dialogConfirm',
            }
        },

        initialize: function() {
            this
                .setVars()
                .build()
                .events();
        },

        setVars: function() {
            this.$table             = $( this.options.table );
            this.$addButton         = $( this.options.addButton );

            // dialog
            this.dialog             = {};
            this.dialog.$wrapper    = $( this.options.dialog.wrapper );
            this.dialog.$cancel     = $( this.options.dialog.cancelButton );
            this.dialog.$confirm    = $( this.options.dialog.confirmButton );

            return this;
        },

        build: function() {
            this.datatable = this.$table.DataTable({
                aoColumns: [
                    null,
                    null,
                    null,
                    null,
                    null,
                    { "bSortable": false }
                ]
            });

            window.dt = this.datatable;

            return this;
        },

        events: function() {
            var _self = this;

            this.$table
                .on('click', 'a.edit-row', function( e ) {
                    var data = $(this).closest( 'tr' ).data('data')
                        , $inputs = $form.find('input')
                        , $el = null;

                    $inputs.each(function () {
                        $el = $(this);
                        if ($el.attr('name')) {
                            $el.val(data[$el.attr('name')]);
                        }
                    });

                    $method.val('PUT');
                    $form.attr('action', url + '/' + data.id);

                    Custombox.open({target: '#custom-modal'});
                })
                .on( 'click', 'a.remove-row', function( e ) {
                    e.preventDefault();

                    var $row = $(this).closest( 'tr' );

                    $.magnificPopup.open({
                        items: {
                            src: _self.options.dialog.wrapper,
                            type: 'inline'
                        },
                        preloader: false,
                        modal: true,
                        callbacks: {
                            change: function() {
                                _self.dialog.$confirm.on( 'click', function( e ) {
                                    e.preventDefault();
                                    var id = ($row.data('data')).id;
                                    $.ajax({
                                        url: url +'/'+ id,
                                        type: 'DELETE',
                                    });
                                    _self.rowRemove( $row );
                                    $.magnificPopup.close();
                                });
                            },
                            close: function() {
                                _self.dialog.$confirm.off( 'click' );
                            }
                        }
                    });
                });

            this.dialog.$cancel.on( 'click', function( e ) {
                e.preventDefault();
                $.magnificPopup.close();
            });

            $('.js-modal').click(function (ev) {
                var $inputs = $form.find('input');

                $inputs.each(function() { $(this).val(''); });

                $method.val('POST');
                $form.attr('action', url);

                Custombox.open({target: '#custom-modal'})
            });

            return this;
        },

        // ==========================================================================================
        // ROW FUNCTIONS
        // ==========================================================================================

        rowCancel: function( $row ) {
            var _self = this,
                $actions,
                data;

            if ( $row.hasClass('adding') ) {
                this.rowRemove( $row );
            } else {

                data = this.datatable.row( $row.get(0) ).data();
                this.datatable.row( $row.get(0) ).data( data );

                $actions = $row.find('td.actions');
                if ( $actions.get(0) ) {
                    this.rowSetActionsDefault( $row );
                }

                this.datatable.draw();
            }
        },

        rowRemove: function( $row ) {
            if ( $row.hasClass('adding') ) {
                this.$addButton.removeAttr( 'disabled' );
            }

            this.datatable.row( $row.get(0) ).remove().draw();
        },

        rowSetActionsEditing: function( $row ) {
            $row.find( '.on-editing' ).removeClass( 'hidden' );
            $row.find( '.on-default' ).addClass( 'hidden' );
        },

        rowSetActionsDefault: function( $row ) {
            $row.find( '.on-editing' ).addClass( 'hidden' );
            $row.find( '.on-default' ).removeClass( 'hidden' );
        }

    };

    $(function() {
        $('.js-modal').click(function (ev) {
            var $inputs = $form.find('input');

            $inputs.each(function() { $(this).val(''); });

            $method.val('POST');
            $form.attr('action', url);

            Custombox.open({target: '#custom-modal'})
        });

        $('.js-edit').click(function () {
            var data = $(this).closest( '.data-row' ).data('data')
                , $inputs = $form.find('input')
                , $el = null;

            $inputs.each(function () {
                $el = $(this);
                if ($el.attr('name')) {
                    $el.val(data[$el.attr('name')]);
                }
            });

            $method.val('PUT');
            $form.attr('action', url + '/' + data.id);

            Custombox.open({target: '#custom-modal'});
        });

        $('.js-remove').click(function () {
            var $el = $(this).closest('.data-row')
                , data = $el.data('data');
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this moderator!",
                type: "error",
                showCancelButton: true,
                confirmButtonClass: 'btn-danger',
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    url: url +'/'+ data.id,
                    type: 'DELETE',
                    success: function () {}
                });
                $el.remove();
            });
        });

        $form.parsley();
    });

}).apply( this, [ jQuery ]);
</script>
{% endblock %}
