{% extends '../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style type="text/css">
    .input-group {
        display: inline-table;
    }

    .input-group label {
        height: 38px;
        width: 76.58px;
        padding: 8px;
    }

    .form-horizontal label {
        text-align: left !important;
        padding-top: 10px !Important;
    }

    .portfolioContainer {
        margin-top: -15px;
    }
</style>
<div class="home-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Our Wines</h4>
            <p class="text-muted page-title-alt">Here you can edit home page banner!</p>
            <ol class="breadcrumb">
                <li>
                    <a href="/admin/home">Pages</a>
                </li>
                <li class="active">Our wines</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card-box">
                <form method="post" enctype="multipart/form-data" action="/admin/pages/our-wines"
                      class="form-horizontal" role="form" data-parsley-validate novalidate>
                    <div class="form-group">
                        <label for="bannerTitle" class="m-t-15 m-b-15 col-lg-2 col-md-3 col-sm-12 control-label">Banner Title</label>
                        <div class="m-t-15 m-b-15 col-lg-8 col-md-6 col-sm-12">
                            <input type="text" required class="form-control" name="title"
                                   id="bannerTitle" placeholder="Banner Title" value="{{ data.title }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bannerTitle" class="m-t-15 m-b-15 col-lg-2 col-md-3 col-sm-12 control-label">Banner Secondary Title</label>
                        <div class="m-t-15 m-b-15 col-lg-8 col-md-6 col-sm-12">
                            <input type="text" required class="form-control" name="secondary_title"
                                   id="bannerSecondaryTitle" placeholder="Banner Secondary Title" value="{{ data.secondary_title }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="m-t-15">
                            <input type="file" name="files">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="m-t-15">
                            <button type="submit" class="btn btn-primary btn-md">
                                Submit
                            </button>
                        </div>
                    </div>
                    <input type="hidden" id="_method" name="_method" value="put">
                </form>
            </div>
        </div>
    </div>
    <!-- end row -->
    {% endblock %}
    {% block customscripts %}
    <script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <script src="/app/assets/plugins/jquery-filer/src/jquery.fileuploader.min.js"></script>
    <script src="/app/assets/js/jquery-filer.init.js"></script>
    <script src="/app/assets/plugins/parsleyjs/parsley.min.js"></script>
    <script>
        (function( $ ) {
            'use strict';
            function eventHandlers() {
                $('.form-horizontal').parsley();
            }

            $(function() {
                eventHandlers();
                JQFiler.init({{ data.images |json_encode|raw }});
            });

        }).apply( this, [ jQuery ]);
    </script>
    {% endblock %}
</div>