{% extends '../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style type="text/css">
.btn-sm {
    margin-top: 7.5px;
}

.custom-icon-list {
    line-height: 45px;
    white-space: nowrap;
    color: #75798B;
}

.custom-icon {
    font-size: 30px;
}
</style>
<div class="pairings">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-xs-12">
            <h4 class="page-title">Pairings</h4>
            <p class="text-muted page-title-alt">Here you can edit pairings!</p>
            <i class='icon-chicken'></i>
            <div>
                <ol class="breadcrumb pull-left">
                    <li>
                        <a href="/admin/products">Items</a>
                    </li>
                    <li class="active">
                        Pairings
                    </li>
                </ol>
                <a href="javascript:;" class="btn btn-default pull-right btn-md waves-effect waves-light m-b-30 on-add-new-pairing"><i class="md md-add"></i> New Pairing</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card-box">
                <h4 class="page-title m-b-15">Available Pairings</h4>
                <div class="row">
                    <div class="custom-icon-list">
                        {% if !pairings.length %}
                        <p class="col-xs-12">No any records, please add new one</p>
                        {% else %} {% for pairing in pairings %}
                        <div class="col-sm-6 col-md-4 col-lg-3 js-pairing" data-data="{{ pairing | json_encode }}">
                            <i class="custom-icon {{pairing.icon}}"></i> {{ pairing.name }}
                            <button type="button" class="on-remove-new-pairing btn btn-danger btn-sm pull-right danger-remove">Delete</button>
                        </div>
                        {% endfor %} {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="js-new-pairing row hidden">
        <div class="col-xs-12">
            <div class="card-box">
                <h4 class="page-title m-b-15">Add New Pairing</h4>
                <div class="row">
                    <form id="pairing-form" action='/admin/pairings' class="form-horizontal col-xs-12 group-border-dashed" method="POST" data-parsley-validate novalidate>
                        <div class="form-group">
                            <div class="col-lg-2 col-sm-6 col-xs-12">
                                <label class='m-t-15 m-b-15'>Icon</label>
                                <select name='icon' class="m-b-0 js-glypicon-select" data-style="btn-white btn-md">
                                </select>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-12">
                                <label class='m-t-15 m-b-15'>Name</label>
                                <input type="text" class="form-control" name="name" required placeholder="Pairing Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="m-t-15">
                                    <button type="reset" class="btn btn-md btn-danger">Reset</button>
                                    <button type="submit" class="btn btn-md btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="_method" id="_method" value="post">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block customscripts %}
<script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="/app/assets/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/app/assets/plugins/parsleyjs/parsley.min.js"></script>
<script>
$(function() {

    generateIcons();
    eventHandlers();

    function generateIcons() {
        var icons = [
            'pairing-cakes',
            'pairing-cheese',
            'pairing-cow',
            'pairing-fish',
            'pairing-chicken',
            'pairing-fruit',
            'pairing-sheep',
            'pairing-spagetti',
            'pairing-pig'
        ];
        var $select = $('.js-glypicon-select');
        for (var i = 0; i < icons.length; i++) {
            $select.append($('<option data-icon="custom-icon ' + icons[i] + '" value="' + icons[i] + '"></option>'));
        }
        $select.selectpicker();
    }

    function eventHandlers() {
        $('.on-add-new-pairing')
            .click(function() {
                $('.js-new-pairing').toggleClass('hidden');
            });

        $('.on-remove-new-pairing')
            .click(function() {
                var $el = $(this).closest('.js-pairing');
                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this pairing!",
                    type: "error",
                    showCancelButton: true,
                    confirmButtonClass: 'btn-danger',
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: true
                }, function() {
                    $.ajax({
                        url: '/admin/pairings/' + $el.data('data').id,
                        type: 'post',
                        data: {
                            _method: 'delete',
                        }
                    });

                    $el.remove();
                });
            })
    }
})
</script>
{% endblock %}
