{% extends '../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style type="text/css">
.input-group {
    display: inline-table;
}

.input-group label {
    height: 38px;
    width: 76.58px;
    padding: 8px;
}

.form-horizontal label {
    text-align: left !important;
    padding-top: 10px !Important;
}

.portfolioContainer {
    margin-top: -15px;
}
</style>
<div class="wine-tour-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Wine Tours Page</h4>
            <p class="text-muted page-title-alt">Here you can edit our club membership page!</p>
            <ol class="breadcrumb">
                <li>
                    <a href="/admin/pages/home">Pages</a>
                </li>
                <li class="active">
                    Wine Tours
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card-box">
                <form method="post" enctype="multipart/form-data" action="/admin/pages/wine-tours"
                      class="form-horizontal" role="form" data-parsley-validate novalidate>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="control-label m-b-10">Banner Title</label>
                            <input type="text" required class="form-control" name="title"
                                   id="bannerTitle" placeholder="Banner Title" value="{{ data.title }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="control-label m-b-10">Banner Secondray Title</label>
                            <input type="text" required class="form-control" name="secondary_title"
                                   id="bannerSecondaryTitle" placeholder="Banner Title" value="{{ data.secondary_title }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="control-label m-b-10">Tour Description</label>
                            <textarea id="elm1" name="description">{{ data.description }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label m-b-10">Banner images</label>
                        <input type="file" name="files">
                    </div>
                    <div class="form-group">
                        <div class="m-t-15">
                            <button type="submit" class="btn btn-primary btn-md">Save</button>
                        </div>
                    </div>
                    <input type="hidden" id="_method" name="_method" value="put">
                </form>
            </div>
        </div>
    </div>
    <!-- end row -->
    {% endblock %}
    {% block customscripts %}
    <script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <script src="/app/assets/plugins/tinymce/tinymce.min.js"></script>
    <script src="/app/assets/js/tiny-mce.init.js"></script>

    <script src="/app/assets/plugins/jquery-filer/src/jquery.fileuploader.min.js"></script>
    <script src="/app/assets/js/jquery-filer.init.js"></script>
    <script src="/app/assets/plugins/parsleyjs/parsley.min.js"></script>
    <script>
        (function( $ ) {
            'use strict';
            function eventHandlers() {
                $('.form-horizontal').parsley();
            }

            $(function() {
                eventHandlers();
                JQFiler.init({{ data.images |json_encode|raw }});
                tinyMce.init();
            });

        }).apply( this, [ jQuery ]);
    </script>
    {% endblock %}
</div>
