{% extends '../../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->

<div id="order-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Orders</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="/admin">Dashboard</a>
                </li>
                <li class="active">
                    Orders
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card-box">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="m-t-0 header-title"><b>COMPLETED ORDERS</b></h4>
                                <p class="text-muted page-title-alt m-b-30 ">Here you can view your completed orders!</p>
                            </div>
                        </div>
                        <div class="">
                            <table id="datatable-editable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Delivery</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr class="gradeU" data-id="{{ order.id }}">
                                        <td>
                                            <a href="/admin/orders/{{ order.id }}">{{ order.number }}</a>
                                        </td>
                                        <td>{{ order.full_name }}</td>
                                        <td>{{ order.address }}</td>
                                        <td>{{ order.email }}</td>
                                        <td>{{ order.phone }}</td>
                                        <td>{{ order.date }}</td>
                                        <td>{{ order.total_price }} AMD</td>
                                        <td><span class="label label-success">{{ order.status }}</span></td>
                                        <td class="actions">
                                            <a href="/admin/orders/{{ order.id }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                            <a href="javascript:;" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end: page -->
                </div>
                <!-- end Panel -->
            </div>
        </div>
    </div>
</div>
<!-- container -->
<div id="dialog" class="modal-block mfp-hide">
    <section class="panel panel-info panel-color">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Are you sure that you want to delete this row?</p>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm" class="btn btn-primary waves-effect waves-light">Confirm</button>
                    <button id="dialogCancel" class="btn btn-default waves-effect">Cancel</button>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %} {% block customscripts %}
<script src="/app/assets/plugins/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="/app/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
<script src="/app/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/app/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
<script src="/app/assets/plugins/tiny-editable/numeric-input-example.js"></script>
<script type="text/javascript">
/**
 * Theme: Ubold Admin Template
 * Author: Coderthemes
 * Component: Editable
 * 
 */

(function($) {

    'use strict';

    var EditableTable = {

        options: {
            addButton: '.addToTable',
            table: '#datatable-editable',
            dialog: {
                wrapper: '#dialog',
                cancelButton: '#dialogCancel',
                confirmButton: '#dialogConfirm',
            }
        },

        initialize: function() {
            this
                .setVars()
                .build()
                .events();
        },

        setVars: function() {
            this.$table = $(this.options.table);
            this.$addButton = $(this.options.addButton);

            // dialog
            this.dialog = {};
            this.dialog.$wrapper = $(this.options.dialog.wrapper);
            this.dialog.$cancel = $(this.options.dialog.cancelButton);
            this.dialog.$confirm = $(this.options.dialog.confirmButton);

            return this;
        },

        build: function() {
            this.datatable = this.$table.DataTable({
                aoColumns: [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
                ]
            });

            window.dt = this.datatable;

            return this;
        },

        events: function() {
            var _self = this;

            this.$table
                .on('click', 'a.remove-row', function(e) {
                    e.preventDefault();

                    var $row = $(this).closest('tr');

                    $.magnificPopup.open({
                        items: {
                            src: _self.options.dialog.wrapper,
                            type: 'inline'
                        },
                        preloader: false,
                        modal: true,
                        callbacks: {
                            change: function() {
                                _self.dialog.$confirm.on('click', function(e) {
                                    e.preventDefault();
                                    var id = $row.data('id');
                                    $.ajax({
                                        url: '/admin/orders',
                                        data: { id: id },
                                        type: 'DELETE'
                                    });
                                    _self.rowRemove($row);
                                    $.magnificPopup.close();
                                });
                            },
                            close: function() {
                                _self.dialog.$confirm.off('click');
                            }
                        }
                    });
                });

            this.$addButton.on('click', function(e) {
                e.preventDefault();

                _self.rowAdd();
            });

            this.dialog.$cancel.on('click', function(e) {
                e.preventDefault();
                $.magnificPopup.close();
            });

            return this;
        },

        // ==========================================================================================
        // ROW FUNCTIONS
        // ==========================================================================================
        rowAdd: function() {
            this.$addButton.attr({
                'disabled': 'disabled'
            });

            var actions,
                data,
                $row;

            actions = [
                '<a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>'
            ].join(' ');

            data = this.datatable.row.add(['', '', '', '', '', '', '', '']);
            $row = this.datatable.row(data[0]).nodes().to$();

            $row
                .addClass('adding')
                .find('td:last')

            this.rowEdit($row);

            this.datatable.order([0, 'asc']).draw(); // always show fields
        },

        rowCancel: function($row) {
            var _self = this,
                $actions,
                i,
                data;

            if ($row.hasClass('adding')) {
                this.rowRemove($row);
            } else {

                data = this.datatable.row($row.get(0)).data();
                this.datatable.row($row.get(0)).data(data);

                $actions = $row.find('td.actions');
                if ($actions.get(0)) {
                    this.rowSetActionsDefault($row);
                }

                this.datatable.draw();
            }
        },


        rowRemove: function($row) {
            if ($row.hasClass('adding')) {
                this.$addButton.removeAttr('disabled');
            }

            this.datatable.row($row.get(0)).remove().draw();
        },

        rowSetActionsEditing: function($row) {
            $row.find('.on-editing').removeClass('hidden');
            $row.find('.on-default').addClass('hidden');
        },

        rowSetActionsDefault: function($row) {
            $row.find('.on-editing').addClass('hidden');
            $row.find('.on-default').removeClass('hidden');
        }

    };

    $(function() {
        EditableTable.initialize();
    });

}).apply(this, [jQuery]);
</script>
{% endblock %}
