{% extends '../../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="order-item-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Invoice</h4>
            <ol class="breadcrumb">
                <li><a href="/admin">Dashboard</a></li>
                <li><a href="/admin/orders">Orders</a></li>
                <li class="active">Order {{ order.number }} </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="/admin/orders/{{ order.id }}" method="post">
                        <div class="row">
                            <div class="col-xs-2">
                                <h2>Order # <strong>{{ order.number }}</strong></h2>
                            </div>
                            <div class="col-xs-10 m-t-20">
                                <div class="hidden-print text-right">
                                    {% if order.status == 'pending' %}
                                    <div class="radio radio-inline radio-pink">
                                        <input type="radio" id="inlineRadio1" value="pending" name="status" {%if order.status == 'pending' %} checked {% endif %}>
                                        <label for="inlineRadio1"> Pending </label>
                                    </div>
                                    {% endif %}

                                    {% if order.status == 'pending' || order.status == 'shipped' %}
                                    <div class="radio radio-inline radio-warning">
                                        <input type="radio" id="inlineRadio2" value="shipped" name="status" {%if order.status == 'shipped' %} checked {% endif %}>
                                        <label for="inlineRadio2"> Shipped </label>
                                    </div>
                                    {% endif %}
                                    {% if order.status == 'pending' || order.status == 'shipped' || order.status == 'delivered' %}
                                    <div class="radio radio-inline radio-success">
                                        <input type="radio" id="inlineRadio3" value="delivered" name="status" {%if order.status == 'delivered' %} checked {% endif %}>
                                        <label for="inlineRadio3"> Delivered </label>
                                    </div>
                                    {% endif %}
                                    {% if order.status == 'pending' || order.status == 'cancelled' %}
                                    <div class="radio radio-inline radio-danger">
                                        <input type="radio" id="inlineRadio4" value="cancelled" name="status" {%if order.status == 'cancelled' %} checked {% endif %}>
                                        <label for="inlineRadio4"> Cancelled </label>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-3">Full Name</label>
                                    <div class='col-sm-9'>
                                        <input type="text" class="form-control" name='full_name' value="{{ order.full_name }}">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-3" for="example-email">Email</label>
                                    <div class='col-sm-9'>
                                        <input type="email" id="example-email" name="email" class="form-control" placeholder="Email" value='{{ order.email }}'>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-3">Address</label>
                                    <div class='col-sm-9'>
                                        <input type="text" class="form-control" name='address' value="{{ order.address }}">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-3">Phone</label>
                                    <div class='col-sm-9'>
                                        <input type="text" class="form-control" name='phone' placeholder="placeholder"  data-mask="(999) 999-999" value="{{ order.phone }}">
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <p><strong>Order Date: </strong> {{ order.create_at | raw | date('d.m.Y')  }}</p>
                                <p><strong>Delivery date/time: </strong> <span>{{ order.delivery_date }} / {{ order.delivery_time }}</span></p>
                                <p><strong>Order Status: </strong> <span class="label label-pink">{{ order.status }}</span></p>
                                <p><strong>Promo Code: </strong> {{ order.promo_code || '-' }}</p>
                                <input type="hidden" name='promo_code' value="{{ order.promo_code }}">
                            </div>
                        </div>
                        <div class="m-h-50"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <table class="table" id="datatable-editable">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Unit Cost</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in order.items %}
                                        <tr data-id="{{ item.id }}">
                                            <td>{{ loop.index }}</td>
                                            <td>
                                                <div>
                                                    {% if item.type != 'private_tour' %}
                                                        <select name="items[id]" class="form-control">
                                                        {% if item.type == 'wine' && additional.products.length %}
                                                            <optgroup label="Products">
                                                                {% for prod in additional.products %}
                                                                    <option value="{{ prod.id }}" {%if item.ref_id == prod.id %} selected {% endif %}>{{ prod.name }}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endif %}
                                                        {% if item.type == 'tour' && additional.tours.length %}
                                                            <optgroup label="Tours">
                                                                {% for tour in additional.tours %}
                                                                <option value="{{ tour.id }}" {%if item.ref_id == tour.id %} selected {% endif %}>{{ tour.name }}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endif %}
                                                        {% if  item.type == 'event' && additional.events.length %}
                                                            <optgroup label="Events">
                                                                {% for event in additional.events %}
                                                                <option value="{{ event.id }}" {%if item.ref_id == event.id %} selected {% endif %}>{{ event.title }}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        {% endif %}
                                                    </select>
                                                    {% endif %}

                                                    <input type="hidden" readonly name='items[name]' value="{{item.name}}">
                                                    {%if item.type == 'private_tour' %}
                                                        <input type="text" readonly value="{{item.name}}" class="form-control">
                                                        <input type="hidden" readonly value="{{item.id}}" name="items[id]">
                                                    {% endif %}
                                                    <input type="hidden" value="{{ item.type }}" name="items[type]">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group bootstrap-touchspin">
                                                    <input value='{{ item.quantity }}' type="number" name="items[quantity]"
                                                           class="form-control" style="display: block;"/>
                                                </div>
                                            </td>
                                            <td>{{ item.unit_cost }}<input type="hidden" name="items[price]" value="{{ item.unit_cost }}"></td>
                                            <td>{{ item.total_cost }}</td>
                                            <td class="actions">
                                                {% if order.status == 'pending' %}
                                                <a href="javascript:;" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30" style="border-radius: 0px;">
                            <!-- <div class="col-md-6">
                                    <h5 class='m-t-0'><b>Special Request</b></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                </div> -->
                            <div class="col-md-3 col-md-offset-9">
                                <p class="text-right"><b>Sub-total:</b>AMD {{ order.real_price }}</p>
                                {% if order.promo_code %}
                                    <p class="text-right"><b>Discout:</b> {{ additional.discount.amount }} %</p>
                                {% endif %}
                                <hr>
                                <h3 class="text-right">AMD {{ order.total_price }}</h3>
                            </div>
                        </div>
                        <hr>
                        <div class="hidden-print">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary waves-effect waves-light sa-success">Submit</button>
                            </div>
                        </div>
                        <input type="hidden" name="_method" value="put">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->
<div id="dialog" class="modal-block mfp-hide">
    <section class="panel panel-info panel-color">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Are you sure that you want to delete this row?</p>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm" class="btn btn-primary waves-effect waves-light">Confirm</button>
                    <button id="dialogCancel" class="btn btn-default waves-effect">Cancel</button>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %} {% block customscripts %}
<script src="/app/assets/plugins/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="/app/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
<script src="/app/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/app/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
<script src="/app/assets/plugins/tiny-editable/numeric-input-example.js"></script>
<script src="/app/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
<script src="/app/assets/plugins/switchery/js/switchery.min.js"></script>
<script src="/app/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/app/assets/plugins/moment/moment.js"></script>
<script src="/app/assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
<script>
    $(function() {
        var orderId = '{{ order.id }}';
        var status = '{{ order.status }}';

        if (status != 'pending') {
            $('input, select').attr('readonly', 'readonly');
        }

        $('[name="phone"]').inputmask({mask:'(999) 999-999'});
        var EditableTable = {

            options: {
                addButton: '#addToTable',
                table: '#datatable-editable',
                dialog: {
                    wrapper: '#dialog',
                    cancelButton: '#dialogCancel',
                    confirmButton: '#dialogConfirm',
                }
            },

            initialize: function() {
                this
                    .setVars()
                    .build()
                    .events();
            },

            setVars: function() {
                this.$table             = $( this.options.table );

                // dialog
                this.dialog             = {};
                this.dialog.$wrapper    = $( this.options.dialog.wrapper );
                this.dialog.$cancel     = $( this.options.dialog.cancelButton );
                this.dialog.$confirm    = $( this.options.dialog.confirmButton );

                return this;
            },

            build: function() {
                this.datatable = this.$table.DataTable({});

                window.dt = this.datatable;

                return this;
            },

            events: function() {
                var _self = this;

                this.$table
                    .on( 'click', 'a.remove-row', function( e ) {
                        e.preventDefault();

                        var $row = $(this).closest( 'tr' );

                        $.magnificPopup.open({
                            items: {
                                src: _self.options.dialog.wrapper,
                                type: 'inline'
                            },
                            preloader: false,
                            modal: true,
                            callbacks: {
                                change: function() {
                                    _self.dialog.$confirm.on( 'click', function( e ) {
                                        e.preventDefault();
                                        var id = $row.data('id');
                                        $.ajax({
                                            url: '/admin/orders/'+ orderId + '/' + id,
                                            type: 'DELETE',
                                        });
                                        _self.rowRemove( $row );
                                        $.magnificPopup.close();
                                    });
                                },
                                close: function() {
                                    _self.dialog.$confirm.off( 'click' );
                                }
                            }
                        });
                    });

                this.dialog.$cancel.on( 'click', function( e ) {
                    e.preventDefault();
                    $.magnificPopup.close();
                });

                return this;
            },

            // ==========================================================================================
            // ROW FUNCTIONS
            // ==========================================================================================

            rowCancel: function( $row ) {
                var _self = this,
                    $actions,
                    data;

                if ( $row.hasClass('adding') ) {
                    this.rowRemove( $row );
                } else {

                    data = this.datatable.row( $row.get(0) ).data();
                    this.datatable.row( $row.get(0) ).data( data );

                    $actions = $row.find('td.actions');
                    if ( $actions.get(0) ) {
                        this.rowSetActionsDefault( $row );
                    }

                    this.datatable.draw();
                }
            },

            rowRemove: function( $row ) {
                if ( $row.hasClass('adding') ) {
                    this.$addButton.removeAttr( 'disabled' );
                }

                this.datatable.row( $row.get(0) ).remove().draw();
            },

            rowSetActionsEditing: function( $row ) {
                $row.find( '.on-editing' ).removeClass( 'hidden' );
                $row.find( '.on-default' ).addClass( 'hidden' );
            },

            rowSetActionsDefault: function( $row ) {
                $row.find( '.on-editing' ).addClass( 'hidden' );
                $row.find( '.on-default' ).removeClass( 'hidden' );
            }

        };
        EditableTable.initialize();


    })
</script>
<style>
    #datatable-editable_wrapper .row:first-child, #datatable-editable_wrapper .row:last-child {
        display: none;
    }
</style>
{% endblock %}
