.form-wizard {
    position: relative;
    background: $grey-light;
    border: none;
    height: 60px;
    padding: 0;
    font-weight: 400;
    margin-bottom: 20px;
    &:focus {
        outline: none;
    }
    span {
        height: 36px;
        width: 36px;
        background: $white;
        top: 12px;
        left: 12px;
        padding: 6px;
        border-radius: 50%;
        position: absolute;
    }
    &.active {
        background: $black;
        color: $white;
        span {
            color: $black;
            font-weight: 700;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.order-client {
    > div,
    input {
        text-align: left;
    }
}

.terms-link{
    vertical-align: middle;
}
.order-review {
    background: $grey-light;
    .cart-review-item {
        margin-bottom: 15px;
        text-align: left;
        label {
            margin: 0;
        }
        >div {
            @extend %flexbox;
            align-items: center;
            border: 3px solid $black;
            // border-radius: 4px;
            i {
                @extend %flexbox;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                height: 40px;
                width: 40px;
                background: $black;
                color: $white;
                margin-right: 15px;
                border-right: 3px solid $black;
            }
            span {
                font-weight: 300;
                font-size: 18px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                flex: 1;
                text-align: left;
                opacity: 0.8;
            }
        }
    }
}

.order-summary {
    min-height: 351px;
    background: $grey-light;
    .order-summary__items {
        .col-9 {
            text-align: left;
            &:last-child {
                text-align: right;
            }
        }
    }
}

.order-items {
    min-height: 351px;
    border-bottom: 1px solid $grey-light;
    >div {
        min-height: 300px;
    }
}

.order-single-item {
    border-top: 1px solid $grey-light;
    height: 150px;
    position: relative;
    .order-single-item-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .remove-button {
        position: absolute;
        font-size: 15px;
        right: 15px;
        top: 10px;
        cursor: pointer;
    }
    .order-single-item-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 15px;
        height: 100%;
        width: 100%;
        border: none;
        &.wine {
            background-size: contain;
        }
        &:after {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: $grey-light;
        }
    }
    .order-single-item-metric {
        width: 70px;
    }
    .order-single-item-price > h5 {
        font-weight: 700;
    }
}
