@import 'shared/sassassets';
.wine-page__imagebox {
    height: 540px;
    @extend %flexbox;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;
    img {
        height: 100%;
    }
    .stars {
        position: absolute;
        left: 20px;
        top: 0;
        color: $red;
    }
    .alcohol {
        position: absolute;
        right: 20px;
        top: 0;
    }
    .barrel {
        position: absolute;
        right: 20px;
        top: 40px;
    }
}
.gallery-popup {
    display: none !important;
    &.active {
        @extend %flexbox;
    }
    position: fixed;
    z-index: 2000;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: $black;
    img {
        border: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        max-height: 70%;
        max-width: 90%;
        margin: 0 auto;
    }
    .gallery-close {
        position: absolute;
        cursor: pointer;
        right: 20px;
        top: 20px;
        color: $white;
        font-size: 20px;
    }
    .w-100 {
        position: absolute;
        bottom: 0;
        max-height: 14%;
    }
}

.wine-page__title {
    h2 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
}

.wine-page__subtitles {
    background-color: $black;
    color: $white;
    padding: 10px 15px;
    margin: 15px 0;
    height: 55px;
}

.wine-page__text {
    h1 {
        color: $red;
        text-align: left;
    }
    p {
        text-align: left;
        &:nth-child(2) {
            margin-top: 5px;
            font-size: 1em;
            font-weight: 300;
            opacity: 0.6;
        }
        &:nth-child(3) {
            margin: 3px;
            font-size: 1em;
            font-weight: 400;
        }
    }
}

.wine-gallery-item {
    cursor: pointer;
    transition: 0.2s;
    .inner-container {
        margin: 2px -13px;
        position: relative;
        > div {
            height: 150px;
            background-size: cover;
            background-position: center;
        }
        &:after {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $grey-light;
        }
    }
}

.wine-page__feedback-form {
    label,
    input,
    label,
    textarea {
        text-align: left;
    }
    textarea {
        min-height: 120px;
    }
}

.wine-page__feedback {
    img {
        border: 1px solid $black;
        border-radius: 50%;
    }
        min-height: 40px;
        margin: 15px 0;
    i,
    b {
        text-align: left;
    }
    i {
        display: block;
        font-size: 12px;
    }
}

.wine-page__calculator {
    padding-top: 20px;
    padding-bottom: 20px;
}

#example-number-input {
    width: 100px;
    margin-left: 20px;
}
