        @import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
        @import 'shared/sassassets';
        @import 'shared/navbar';
        @import 'shared/footer';
        @import 'shared/button';
        @import 'shared/texts';
        @import 'shared/pairings';
        @import 'winepage';
        @import 'cart';
        * {
            font-family: 'Lato', sans-serif;
            text-align: center;
        }
        
        p {
            margin: 0;
        }
        
        h1 {
            font-size: 2em;
        }
        
        .legal-age,
        .error-page,
        .thanks-page,
        .construction-page {
            position: fixed;
            height: 100%;
            width: 100%;
            background: $white;
            z-index: 10000;
            img {
                margin: 20px 0;
                position: absolute;
                top: 20px;
            }
            label {
                span {
                    vertical-align: middle;
                }
            }
            button {
                margin: 20px 0;
            }
            h1 {
                font-size: 4em;
                @media screen and (max-width: 576px) {
                    font-size: 2em;
                }
            }
        }
        
        .captcha {
            > div {
                margin: 0 auto;
            }
            &.captcha-left {
                > div {
                    margin: 0;
                }
            }
        }
        
        [ng-bind-html] > * {
            text-align: left;
            iframe,
            img {
                width: 100%;
                height: auto;
            }
        }
        
        button[disabled] {
            pointer-events: none;
            background: #efefef;
            border-color: #e0e0e0;
        }
        
        %caruseltext {
            color: #fff;
            margin: 0 auto;
            text-align: center;
            z-index: 2;
        }
        
        .title-page h1 {
            @media screen and (min-width: 576px) {
                margin-top: 40px;
            }
            margin-top: 0;
            margin-bottom: 40px;
            font-weight: 700;
            font-size: 1.8em;
            padding: 15px;
            background-color: $red;
            color: #fff;
        }
        /*----------  Slider  ----------*/
        
        input[type='radio'] {
            display: none;
        }
        
        .carousel {
            height: 600px;
            width: 100%;
            position: relative;
            max-height: 100vh;
            overflow: hidden;
            user-select: none;
            div {
                position: relative;
                height: 100%;
            }
            .item {
                position: absolute;
                z-index: -1;
                top: 0;
                @extend %flexbox;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                will-change: transform;
                backface-visibility: hidden;
                &:after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.15);
                    z-index: 1;
                }
            }
            h1 {
                @extend %caruseltext;
                font-size: 6em;
                font-weight: 700;
                text-transform: uppercase;
                @media screen and (max-width: 768px) {
                    font-size: 4em;
                }
            }
            h2 {
                @extend %caruseltext;
                font-size: 9em;
                font-weight: 200;
                @media screen and (max-width: 768px) {
                    font-size: 6em;
                }
            }
        }
        /*----------  Our Wines  ----------*/
        
        .our-wines__imagebox {
            height: 400px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            @extend %flexbox;
            justify-content: center;
            align-items: center;
            &:hover button {
                opacity: 1;
            }
            > div {
                height: 400px;
                width: 100%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            h3 {
                margin: 0;
                position: absolute;
                width: 100%;
                bottom: 0;
                z-index: 2;
                left: 0;
                right: 0;
                background-color: $red;
                color: $white;
                text-align: center;
                padding: 10px;
                align-self: flex-end;
            }
        }
        
        .discounted {
            color: $red;
            text-decoration: line-through;
        }
        /*----------  About Us  ----------*/
        
        .about__image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 400px;
        }
        
        .about__text {
            @media screen and (max-width: 768px) {
                justify-content: center !important;
                align-items: center !important;
                h6,
                h2,
                p {
                    text-align: center !important;
                }
            }
            h6 {
                margin-top: 20px;
                color: $red;
            }
        }
        /*----------  Products & Services  ----------*/
        
        .product_calculator {
            h3 {
                margin: 8px 0;
                font-size: 1.5em;
                font-weight: 700;
                text-align: right;
                @media screen and (max-width: 576px) {
                    text-align: center;
                }
            }
            .form-control {
                height: 42px;
                max-width: 120px;
                margin: 0 auto;
            }
            .col-12 {
                @extend %flexbox;
            }
        }
        /*----------  News & Article   ----------*/
        
        .van__box {
            border: 5px solid $black;
            border-radius: 1px;
            max-width: 400px;
            min-width: 290px;
            position: relative;
            margin: 0 auto;
            padding: 15px;
            margin-bottom: 40px;
            .event-title {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            h3:first-child {
                position: relative;
                top: -33px;
                background-color: #fff;
                display: inline;
                padding: 10px 20px;
                color: $red;
            }
            div:nth-child(2) {
                margin-bottom: 10px;
                height: 180px;
                @extend %flexbox;
                justify-content: center;
                align-items: center;
            }
            img {
                max-width: 90%;
                max-height: 180px;
            }
            p {
                padding: 10px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        
        .article-date {
            color: $red;
            font-weight: 700;
        }
        /*----------  Tour   ----------*/
        
        .tour-book {
            input[type='checkbox'],
            select {
                display: none;
            }
        }
        
        .calendar-item {
            display: inline-block;
            float: left;
        }
        
        .private-calendar {
            .form-group {
                margin: 5px 10px;
            }
            input {
                border-radius: 0;
                height: 50px;
                border: 4px solid $black;
                width: 180px;
                &:focus,
                &:active {
                    transition: 0.6s;
                    border-color: $red;
                }
            }
        }
        
        .wickedpicker {
            width: 180px;
            border-radius: 0;
            .wickedpicker__title {
                background-color: $red;
                color: $white;
                span {
                    color: $white;
                }
            }
        }
        
        .datepickers-container > div {
            border: none;
            border-radius: 0;
            .-current- {
                color: $red;
            }
            .datepicker--day-name {
                color: $red;
            }
            .-selected-,
            .datepicker--cell:hover {
                color: $white;
                background: $red;
            }
        }
        
        .datepicker--pointer {
            background-color: $red;
            color: $white;
            border: none;
            top: -5px;
        }
        
        .datepicker--nav {
            background-color: $red;
            color: $white;
            path,
            i {
                stroke: $white;
                color: $white;
            }
            .datepicker--nav-action:hover,
            .datepicker--nav-title:hover {
                background: none !important;
            }
        }
        /*----------  Contact Us  ----------*/
        
        .contact-page {
            input,
            textarea {
                text-align: left;
            }
            ng-map {
                height: 600px;
            }
        }
        
        .contact__info {
            @extend %flexbox;
            margin: 5px;
            align-items: center;
            border: 3px solid $black;
            border-radius: 4px;
            i {
                @extend %flexbox;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                height: 40px;
                width: 40px;
                margin-right: 15px;
                background: $black;
                color: $white;
                border-right: 3px solid $black;
            }
            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                flex: 1;
                text-align: left;
            }
        }
        
        .contact__social {
            a {
                text-decoration: none;
                border-radius: 7px;
                &:visited {
                    text-decoration: none;
                }
            }
            i {
                @extend %flexbox;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                height: 50px;
                width: 50px;
                padding: 5px;
                color: $white;
            }
        }
        
        .product-seperator {
            margin-top: 40px;
            border: 2px solid $black;
        }
        /*----------  Wickedpicker Corrector  ----------*/
        
        .wickedpicker__controls__control-down:after,
        .wickedpicker__controls__control-up:before {
            font-family: FontAwesome !important;
        }
        
        .wickedpicker__controls__control-up:before {
            content: '\f106' !important;
        }
        
        .wickedpicker__controls__control-down:after {
            content: '\f107' !important;
        }
        
        .overflow {
            position: absolute;
            width: 100%;
            min-height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 99999;
            right: 0;
            background: rgba(255, 255, 255, .5);
            height: auto;
        }
