a{% extends '../../layouts/layout.html' %}
<!-- Begin page -->
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style type="text/css">
.input-group label {
    height: 38px;
    padding: 8px;
}
[readonly] {
    background: transparent!important;
}

.portfolioContainer {
    margin-top: -15px;
}

.gal-detail {
    border: 1px solid #e0e0e0;
}

.tags-default > div {
    min-height: 38px;
    padding: 2px 6px;
    width: 100% !important;
}

.tags-default .tag {
    height: 28px;
    line-height: 1.8;
}

.bootstrap-tagsinput input {
    padding: 4px 6px !important;
}
.flex-start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.checkbox {
    padding: 0;
    height: 38px;
    text-align: center;
}

.checkbox label {
    top: 20px;
}

.checkbox label:before,
.checkbox label:after {
    left: 0;
    right: 0;
    top: -20px;
    margin: 0 auto;
    padding-left: 0;
}

.flex-medal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 2px dashed #e0e0e0;
}

textarea {
    min-height: 150px !important;
}

.rating li {
    color: #FFBD4A;
    border-color: #FFBD4A;
}
</style>
<div class="our-wines-page">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-xs-12">
            <h4 class="page-title">{% if product.id %} {{ product.name }} {% else %} New Wine {% endif %}</h4>
            <div>
                <ol class="breadcrumb pull-left">
                    <li>
                        <a href="/admin/products">Items</a>
                    </li>
                    <li class="active">
                        <a href="/admin/products">Wines</a>
                    </li>
                    <li class="active">
                        {% if product.id %} {{ product.name }} {% else %} New Wine {% endif %}
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" data-parsley-validate data-parsley-focus="none" class="form-horizontal product-form" role="form" novalidate>
        <div class="card-box">
            <div class="row">
                <h2 class="col-xs-12 m-t-30">Information</h2>
                <div class='col-xs-12 m-t-30'>
                    <div class="form-group row">
                        <div class="m-b-15 col-xs-12 col-md-6 col-lg-4">
                            <label for="avatar">Avatar*</label>
                            <a href="{%if product.avatar %} /uploads/{{ product.avatar }} {% else %} /app/assets/images/no-photo/default-thumbnail.jpg {% endif %} " class="image-popup" title="Screenshot-1">
                                <img src="{%if product.avatar %} /uploads/{{ product.avatar }} {% else %} /app/assets/images/no-photo/default-thumbnail.jpg {% endif %}" class="thumb-img custom-avatar" alt="work-thumbnail">
                            </a>
                            <div class="m-t-15 text-center">
                                <input type="file" id='avatar' name='avatar' class="filestyle form-inline" data-icon="false" data-buttontext="Upload" data-input="false" data-badge="false" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="row">
                                <div class="m-b-15 col-xs-12 col-sm-12">
                                    <label for="wineName">Name*</label>
                                    <input type="text" name="name" data-parsley-trigger="focusout" required placeholder="Enter wine name" class="form-control" id="wineName" value="{{ product.name }}">
                                </div>
                                <div class="m-b-15 col-xs-12 col-sm-6">
                                    <label for="wineAlcohol">Alcohol Level*</label>
                                    <input data-parsley-trigger="focusout" value="{{ product.alcohol_lvl }}" type="text" id='wineAlcohol' data-a-sign="%  "
                                           data-v-max="100.00" required placeholder="11.00%" class="form-control autonumber">
                                    <input type="hidden" name='alcohol_lvl' id="wineAlcoholValue" value="{{ product.alcohol_lvl }}"  />
                                </div>
                                <div class="m-b-15 col-xs-12 col-sm-6">
                                    <label for="wineBarrel">Barrel Aged*</label>
                                    <select id='wineBarrel' class="form-control" name="barrel_aged" >
                                        <option value="false" {%if product.barrel_aged == false %} selected {% endif %}>false</option>
                                        <option value="true" {%if product.barrel_aged == true %} selected {% endif %}>true</option>
                                    </select>
                                </div>
                                <div class="m-b-15 col-xs-12 col-sm-6">
                                    <label for="Featured">Featured*</label>
                                    <select id='Featured' class="form-control" name="featured">
                                        <option {%if product.featured == false %} selected {% endif %} value="false">false</option>
                                        <option {%if product.featured == true %} selected {% endif %} value="true">true</option>
                                    </select>
                                </div>
                                <div class="m-b-15 col-xs-12 col-sm-6">
                                    <label for="winePrice">Price*</label>
                                    <input type="text" data-parsley-trigger="focusout" id='winePrice' data-a-sign="AMD  " required placeholder="AMD "
                                           value="{{ product.price }}" class="form-control autonumber">
                                    <input type="hidden" name='price' id="winePriceValue" value="{{ product.price }}"/>
                                </div>
                                <div class="m-b-15 col-xs-12 col-sm-6">
                                    <label for="wineDiscount">Discount*</label>
                                    <input type="text" data-parsley-trigger="focusout" id='wineDiscount' data-a-sign="%  " data-v-max="100.00"
                                           required placeholder="%" value="{{ product.discount }}" class="form-control autonumber">
                                    <input type="hidden" name='discount' id="wineDiscountValue" value="{{ product.discount }}"/>
                                </div>
                                <div class="m-b-15 col-xs-12 col-sm-6">
                                    <label for="inStock">In Stock*</label>
                                    <input type="number" data-parsley-trigger="focusout" name='in_stock' id='inStock' min='0' class="form-control" value="{{ product.in_stock }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-4">
                            <div class="row">
                                <div class="m-b-15 col-xs-12">
                                    <label for="wineTag">Tag words*</label>
                                    <div class="tags-default">
                                        <select multiple name='tag[]' data-role="tagsinput" id='wineTag' >
                                            {% for tag in product.tag %}
                                            <option value="{{ tag }}">{{ tag }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="m-b-15 col-xs-12">
                                    <label for="wineDescription">Description*</label>
                                    <textarea name="description" data-parsley-trigger="focusout" required id='wineDescription' placeholder="Wine description goes here" class="form-control">{{ product.description }}</textarea>
                                </div>
                                <div class="m-b-15 col-xs-12 flex-start">
                                    <label class='col-xs-12'>Pairings*</label>
                                    <div class="clearfix"></div>
                                    {% for pairing in pairings %}
                                    <div class='col-lg-2 col-md-3 col-sm-3 col-xs-6 m-b-15' >
                                        <div class="checkbox checkbox-custom">
                                            <input id="checkbox{{ loop.index }}" type="checkbox" value='{{ pairing._id |raw }}'
                                                   name="pairings[]" {% if product.pairings && product.pairings.indexOf(pairing._id|raw) > -1 %}checked{% endif %}>
                                            <label for="checkbox{{ loop.index }}">
                                                {{ pairing.name }}
                                            </label>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group m-b-15 row m-b-0">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-default waves-effect waves-light btn-md">Submit</button>
                            <button type="reset" class="btn btn-primary waves-effect waves-light m-l-5 btn-md">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="_method" value="post">
    </form>

    {% if product.id %}
        <div class="card-box">
            <div class="row">
                <h2 class="col-xs-12 m-t-30">Medals</h2>
                <div class='col-xs-12 m-t-30'>
                    <div class="form-group m-b-15 row flex-start">
                        <div class="clearfix"></div>
                        {% for medal in product.medals %}
                        <div class="col-lg-6 col-xs-12 m-b-15 js-medal" data-id="{{ medal._id |raw}}" >
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                                    <label class='m-t-15 m-b-15'>Medal Image*</label>
                                    <a href="/uploads/{{ medal.image }}" class="image-popup" title="Screenshot-1">
                                        <img src="/uploads/{{ medal.image }}" class="thumb-img" alt="work-thumbnail">
                                    </a>
                                    <div class="m-t-15 m-b-15 text-center">
                                        <input type="file" name='medalImages' class="filestyle form-inline" data-icon="false"
                                               data-buttontext="Upload" data-input="false" data-badge="false" />
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class='m-t-15 m-b-15'>Title*</label>
                                        <input value="{{ medal.name }}"  name='medals[{{ loop.index }}][name]' type="text" class="form-control medalName" required placeholder="Medal Name" />
                                    </div>
                                    <div class="form-group">
                                        <label class='m-t-15 m-b-15'>Date*</label>
                                        <div class="input-group">
                                            <input type="text" value="{{ medal.date }}" name="medals[{{ loop.index }}][date]"
                                                   class="form-control datepicker-autoclose medalDate" placeholder="Select Date" readonly>
                                            <span class="input-group-addon bg-custom b-0 text-white"><i class="icon-calender"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type='button'  class="on-remove-medal btn btn-danger waves-effect waves-light btn-md pull-right">Delete</button>
                                        <button type="button" class="btn btn-md btn-primary on-save-medal pull-right m-r-10">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="new-medal-btn col-lg-6 col-xs-12 m-b-15">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="card-box flex-medal">
                                        <button type='button' class="on-add-new-medal btn btn-default waves-effect waves-light btn-md">New Medal</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form method="post" enctype="multipart/form-data"
          class="form-horizontal gallery-form" role="form">
            <div class='form-group'>
                <div class="col-xs-12">
                    <div class="card-box">
                        <h2 class="m-b-15">Gallery</h2>
                        <div class="row">
                            <input type="file" name="files">
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-default waves-effect waves-light btn-md">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="_method" value="post">
        </form>

        <div class="card-box">
            <div class="row">
                <h2 class="col-xs-12 m-t-30">Feedback</h2>
                {% for feedback  in product.feedback %}
                    <div class="col-xs-12" data-feedback="{{ feedback._id | raw }}">
                        <hr>
                        <div class="row" >
                            <div class="col-xs-8">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4>{{ feedback.full_name }}</h4>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="rating">
                                            <ul class="list-inline">
                                                {% for i in [1, 2, 3, 4, 5] %}
                                                {% if i <= feedback.rate %}<li class="fa fa-star"></li>{% else %}<li class="fa fa-star-o "></li>{% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 text-right">
                                <h4>{{ feedback.date }}</h4>
                            </div>
                            <div class="col-xs-12">
                                <p>{{ feedback.description }}</p>
                            </div>
                            <div class='col-xs-12'>
                                <div class="pull-right feedback-actions">
                                    {% if feedback.confirmed == false %}
                                    <button data-action='0' class="on-feed-action btn btn-danger waves-effect waves-light m-l-5">Reject</button>
                                    <button data-action='1' class="on-feed-action btn btn-default waves-effect waves-light" type="submit">Accept</button>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}

                {% if product.feedback.length == 0 %}
                <div class="col-xs-12">
                    <p>No any feedback</p>
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}


</div>
{% endblock %} {% block customscripts %}
<script src="/app/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
<script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="/app/assets/plugins/jquery-filer/src/jquery.fileuploader.min.js"></script>
<script src="/app/assets/js/jquery-filer.init.js"></script>
<script src="/app/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/app/assets/plugins/autoNumeric/autoNumeric.js" type="text/javascript"></script>
<script src="/app/assets/plugins/parsleyjs/parsley.min.js"></script>
<script src="/app/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
<script src="/app/assets/js/file-uploader.init.js"></script>
<script id="new-medal-box" type="text/x-custom-template">
    <div class="js-medal col-lg-6 col-xs-12 m-b-15" >
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <label class='m-t-15 m-b-15'>Medal Image*</label>
                <a href="http://placehold.it/600x430?text=Upload+your+photo" class="image-popup">
                    <img src="http://placehold.it/600x430?text=Upload+your+photo" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="m-t-15 m-b-15 text-center">
                    <input type="file" name='medalImages' class="filestyle form-inline" data-icon="false"/>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class='m-t-15 m-b-15'>Title*</label>
                    <input value="{{ medal.name }}" type="text" class="form-control medalName"
                           name="medals[name]" placeholder="Medal Name" />
                </div>
                <div class="form-group">
                    <label class='m-t-15 m-b-15'>Date*</label>
                    <div class="input-group">
                        <input type="text" value="{{ medal.date }}" name="medals[date]"
                               class="form-control datepicker-autoclose medals-date medalDate" placeholder="Select Date" readonly>
                        <span class="input-group-addon bg-custom b-0 text-white">
                            <i class="icon-calender"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button type='button' class="on-remove-medal btn btn-danger waves-effect waves-light btn-md pull-right">Delete</button>
                    <button type="button" class="btn btn-md btn-primary on-save-medal  pull-right m-r-15">Save</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script>
    (function( $ ) {
        'use strict';
        var $method = $('[name="_method"]')
            , url = '/admin/products'
            , prodId = '{{ (product._id |raw) || "" }}'
            , tags = '{{ product.tag || "" }}';


        function eventHandlers() {
            $('.product-form').parsley();
            $('.datepicker-autoclose').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy'
            });

            //Medal boxes fn
            $('.on-add-new-medal').click(function(e) {
                e.preventDefault();
                var $el = $('#new-medal-box').html();
                var $newEl = $($el).insertBefore('.new-medal-btn');

                $newEl.find('.datepicker-autoclose').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd/mm/yyyy'
                });

                $newEl.find(':file').filestyle({
                    buttonText: 'Upload',
                    badge:false,
                    input: false
                });

            });


            $('body')
                .on('click', '.on-remove-medal', function (e) {
                    e.preventDefault();
                    var $el = $(this);
                    swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this medal!",
                        type: "error",
                        showCancelButton: true,
                        confirmButtonClass: 'btn-danger',
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: true
                    }, function () {
                        var $parent = $el.parents('.js-medal');
                        var id = $parent.data('id');

                        $.ajax({
                            type: 'DELETE',
                            url: '/admin/products/medals/' + id,
                            data: { prodId: prodId },
                            success: function () {}
                        });
                        $parent.remove();
                    });


                })
                .on('click', '.on-save-medal', function (e) {
                    var $el = $(this);
                    var $parent = $el.parents('.js-medal');
                    var url = '/admin/products/medals';
                    var id = $parent.data('id');
                    var request = new FormData();

                    if (id) {
                        url += ('/' + id);
                        request.append('id', id);
                    }
                    request.append('prodId', prodId);
                    request.append('name', $parent.find('.medalName').val());
                    request.append('date', $parent.find('.medalDate').val());
                    request.append('image', $parent.find(':file')[0] ? $parent.find(':file')[0].files[0] : '');

                    $.ajax({
                        url: url ,
                        type: id ? 'put' : "post",
                        data: request,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            $parent.attr('data-id', res.id);
                            swal('success', 'Successfully created!');
                        }
                    })
                });

            //Override mask values
            $('.autonumber').change(function(e) {
                $('#'+this.id+'Value').val($(this).autoNumeric("get"));
            });

            //Tags input init
            if (tags.length) {
                [tags].forEach(function(item) {
                    $('.tagsinput').tagsinput('add', item.toString());
                });
            }

            $('.on-feed-action').click(function(e) {
                e.preventDefault();
                var $feedback = $(this).closest('[data-feedback]');
                var feedBackId = $feedback.data('feedback');
                var action = $(this).data('action');

                $.ajax({
                    url: '/admin/products/'+ prodId + '/feedback',
                    type: 'PUT',
                    data: {
                        id: feedBackId,
                        action: action
                    },
                    success: function () {
                        if (action == 0) { //remove
                            $feedback.remove();
                        } else {
                            $feedback.find('.feedback-actions').remove();
                        }
                        swal('Success', 'Successfully updated', 'success');
                    },
                    error: function(err) {
                        console.log(err);
                        swal('Error', err.responseJSON.errors[0].message || 'Something going wrong', 'error');
                    }
                });
            })
        }

        function initForms() {
            if (!prodId) {
                $method.val('post');
                $('.product-form').attr('action', url + '/create');
            } else {
                $method.val('put');
                $('.product-form').attr('action', url + '/' + prodId);
                $('.gallery-form').attr('action', url + '/' + prodId + '/gallery');
            }
        }

        $(function() {
            initForms();

            eventHandlers();

            $('.autonumber').autoNumeric('init');
            JQFiler.init({{ product.gallery |json_encode |raw }});

        });

    }).apply( this, [ jQuery ]);
</script>
{% endblock %}
