<footer class="footer">
    <div class="container text-center">
        <div class="row footer-body pt-5 pb-5">
            <div class="col-lg col-sm-6 col-12 pb-5 pb-sm-0 mb-0 mb-sm-5 mb-lg-0">
                <h4 class="text-center text-lg-left w-100">Site Map</h4>
                <div class="row">
                    <div class="col-12 d-flex flex-column align-items-center align-items-lg-start">
                        <a class="nav-link" ui-sref="home">Home</a>
                        <a class="nav-link" ui-sref="wines">Wines</a>
                        <a class="nav-link" ui-sref="tours">Tours</a>
                        <a class="nav-link" ui-sref="events">Events</a>
                        <a class="nav-link" ui-sref="news">News</a>
                        <a class="nav-link" ui-sref="about">About Us</a>
                        <a class="nav-link" ui-sref="contact">Contact Us</a>
                        <a class="nav-link" ui-sref="contact">FAQ</a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-12 pb-5 pb-sm-0 mb-0 mb-sm-5 mb-lg-0">
                <h4 class="text-center text-lg-left w-100">Join Us</h4>
                <div class="row">
                    <div class="col-12 d-flex flex-column align-items-center align-items-lg-start">
                        <a class="nav-link" ui-sref="membership">Club Membership</a>
                        <a class="nav-link" ui-sref="contact">Subscribe</a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-12 pb-5 pb-sm-0 mb-0 mb-sm-5 mb-lg-0">
                <h4 class="text-center text-lg-left w-100">Follow Us</h4>
                <div class="col-12">
                    <div class="row footer-social">
                        <a target='_blank' ng-if="$root.contacts.facebook" class='d-flex align-items-center justify-content-center justify-content-lg-start col col-lg-12' ng-href="{{ $root.contacts.facebook }}"><i aria-hidden="true" class='fa fa-facebook'></i><span class='d-none d-lg-inline'>Facebook</span></a>
                        <a target='_blank' ng-if="$root.contacts.twitter" class='d-flex align-items-center justify-content-center justify-content-lg-start col col-lg-12' ng-href="{{ $root.contacts.twitter }}"><i aria-hidden="true" class='fa fa-twitter'></i><span class='d-none d-lg-inline'>Twitter </span></a>
                        <a target='_blank' ng-if="$root.contacts.instagram" class='d-flex align-items-center justify-content-center justify-content-lg-start col col-lg-12' ng-href="{{ $root.contacts.instagram }}"><i aria-hidden="true" class='fa fa-instagram'></i><span class='d-none d-lg-inline'>Instagram</span></a>
                        <a target='_blank' ng-if="$root.contacts.google" class='d-flex align-items-center justify-content-center justify-content-lg-start col col-lg-12' ng-href="{{ $root.contacts.google }}"><i aria-hidden="true" class='fa fa-google'></i><span class='d-none d-lg-inline'>Google Plus</span></a>
                        <a target='_blank' ng-if="$root.contacts.youtube" class='d-flex align-items-center justify-content-center justify-content-lg-start col col-lg-12' ng-href="{{ $root.contacts.youtube }}"><i aria-hidden="true" class='fa fa-youtube'></i><span class='d-none d-lg-inline'>Youtube</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-12 pb-5 pb-sm-0 mb-0 mb-sm-5 mb-lg-0">
                <h4 class="text-center text-lg-left w-100">Our Policies</h4>
                <div class="row">
                    <div class="col-12 d-flex flex-column align-items-center align-items-lg-start">
                        <a class="nav-link" ui-sref="home">Terms</a>
                    </div>
                </div>
            </div>
            <div class="col-lg col-sm-6 col-12">
                <h4 class="text-center text-lg-left w-100">Contact Us</h4>
                <div class="row">
                    <div class="col-12 d-flex flex-column align-items-center align-items-lg-start ">
                        <p class='text-center text-lg-left mb-2'><u>Phone:</u><br> {{ $root.contacts.phone }}</p>
                        <p class='text-center text-lg-left mb-2'><u>Email:</u><br> {{ $root.contacts.email }}</p>
                        <p class='text-center text-lg-left mb-2'><u>Address:</u><br> {{ $root.contacts.address }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copyright justify-content-center pb-5">&copy; Van Ardi LLC. All Rights Reserved. 2014-2017</div>
    </div>
</footer>
