<nav class="container-fluid navbar">
    <div class='row navbar-top'>
        <div class="col-12 hidden-md-down">
            <a ui-sref="home"><img class='navbar__main-logo' src="assets/img/logo.png"></a>
        </div>
    </div>
    <div class='row navbar-bottom'>
        <div class="col-12 navbar__menu hidden-md-down ">
            <a ui-sref="home"><img class='navbar__secondary-logo' src="assets/img/logo2.png"></a>
            <ul class="justify-content-center nav nav-primary">
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="home">Home</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="wines">Wines</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="tours">Tours</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="events">Events</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="news">News</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="about">About</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="navbar__hamburger hidden-lg-up ">
            <i class="fa fa-bars navbar__hamburger-icon" aria-hidden="true"></i>
            <ul class="nav nav-secondary d-flex flex-column align-items-center">
                <li class="title-page w-100">
                    <h1 class='m-0 justify-content-center'>SITE MAP</h1>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="home">Home</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="wines">Wines</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="tours">Tours</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="events">Events</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="news">News</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="about">About</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="w-100 hidden-lg-up ">
            <a ui-sref="home"><img class='navbar__mobile-icon' src="assets/img/logo2.png"></a>
        </div>
        <cart></cart>
    </div>
</nav>
<script type="text/javascript">
$(document).scroll(function() {
    scrollik();
    cartik();
});

$(document).ready(function() {
    scrollik();
    hamburger();
    cart();
});


function cart() {
    $('.navbar__cart-icon').on('click', function() {
        $('.navbar__cart').toggleClass('active');
    });
    $(document).mouseup(function(e) {
        var $container = $(".navbar__cart-container");
        var $trigger = $('.navbar__cart-icon');

        // if the target of the click isn't the container nor a descendant of the container
        if (!$container.is(e.target) && !$trigger.is(e.target) && $container.has(e.target).length === 0 && $trigger.has(e.target).length === 0) {
            $('.navbar__cart').removeClass('active');
        }
    });
}
function cartik() {
    var width = $(window).width();
    var scrollPos = window.pageYOffset | document.body.scrollTop;
    var topposition = 180 - scrollPos + 'px';
    if (width > 992 && scrollPos < 100) {
        $('.navbar__cart').css('top', topposition);
    }
    else if(width > 992 && scrollPos >= 100){
        $('.navbar__cart').css('top', '80px');
    }
}

function scrollik() {
    var width = $(window).width();
    var scrollPos = window.pageYOffset | document.body.scrollTop;
    if (width > 992) {
        if (scrollPos > 100) {
            $('.navbar-bottom').addClass('active');
        } else {
            $('.navbar-bottom').removeClass('active');
        }
    } else {
        if (scrollPos > 1) {
            $('.navbar-bottom').addClass('active');
        } else {
            $('.navbar-bottom').removeClass('active');
        }
    }
}

function hamburger() {
    $('.navbar__hamburger-icon').on('click', function() {
        $('.nav-secondary').toggleClass('active');
    })
}
</script>
