<div ng-if="!$root.isLegalized" class='legal-age d-flex flex-column justify-content-center align-items-center'>
	<img src="assets/img/logo2.png">	
	<h1>Please confirm, that you're above the legal drinking age.</h1>
    <label class='mt-3' for="terms">
        <input type="checkbox" id="terms" ng-model="isAgree" />
        <span>By checking, I hereby confirm that I'm legally allowed to drink.</span>
    </label>
    <button ng-disabled="!isAgree" ng-click='$root.confirmLegalization()' type="button" class="btn btn-black">Proceed</button>
</div>
