<div class="navbar__cart-icon">
    <i class="fa fa-shopping-basket" aria-hidden="true"></i><span class='hidden-md-down'>({{ vm.cartItems.length }} item)</span>
</div>
<div class='navbar__cart'>
    <div class='navbar__cart-container d-flex flex-column'>
        <h3 class='text-left'>Your Cart</h3>
        <div ng-class='{"emptyCart d-flex align-items-center justify-content-center": vm.cartItems.length == 0}' class="navbar__cart-body">
            <div ng-if='vm.cartItems.length == 0'>Your Cart is Empty</div>
            <div ng-repeat="item in vm.cartItems" class="row order-summary__items mb-3">
                <div class='col-3'>
                    <img ng-if='item.avatar' ng-src="/uploads/{{item.avatar}}">
                    <img ng-if='item.imageUrl' ng-src="{{item.imageUrl}}">
                </div>
                <div class="col-9 pt-2">
                    <a href="javascript:;" ng-click="vm.remove($index)"><i class="fa fa-remove red-text"></i></a>
                    <p>{{item.name}}</p>
                    <div class='d-flex justify-content-between align-items-center mt-4'>
                        <input class="input-black square-input" type="number" ng-change='vm.updateQuantity(item.quantity, $index)' ng-model='item.quantity' id="event-price" min="1">
                        <span>{{item.price ? (item.price*item.quantity | prettyNumber ) + ' AMD' : 'Free'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <span>Currently we ship only within Yerevan. <br>For wine shipping order <u>minimum 6 bottles.</u></span>
        <button type="button" ui-sref="cart" class="btn-red w-100 mb-2">CHECKOUT</button>
        <p>Become a <a ui-sref="membership">club member</a> and receive {{ $root.settings['club-member-discount'] }}% discount.</p>
    </div>
</div>
