<div class='error-page d-flex flex-column justify-content-between justify-content-sm-center align-items-center'>
    <img src="assets/img/logo2.png">
    <h1>404</h1>
    <h2>{{vm.errorMessage}}</h2>
    <button href="javascript:;" ui-sref="home" type="button" class="btn btn-black">Home Page</button>
</div>
