<div class='construction-page d-flex flex-column justify-content-between justify-content-sm-center align-items-center'>
    <img src="assets/img/logo2.png">
    <h1>SITE IS UNDER CONSTRUCTION</h1>
    <h2>We're working on it. Will be back soon. Sorry for any inconvenience.</h2>
</div>
