<div class='thanks-page d-flex flex-column justify-content-between justify-content-sm-center align-items-center'>
    <img src="assets/img/logo2.png">
    <div ng-if="$stateParams.full_name">
        <h1 class="display-3">Thank You, {{ $stateParams.full_name }}</h1>
        <br/>
        <p class="lead">
            <span>Thank you for making an order through our website.</span>
            <br/>
            <br/> We successfully received your order. We'll contact you shortly to confirm it.
            <br />
            <br/> With kind regards, Vanardi LLC.
        </p>
    </div>
    <div ng-if="!$stateParams.full_name">
        <p class="lead">
            Please visit our home page...
        </p>
    </div>
    <button href="javascript:;" ui-sref="home" type="button" class="btn btn-black">Home Page</button>
</div>
