{% block head %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured app theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" href="/app/assets/images/favicon_1.ico">
    <title>Vanardi</title>
    <!--Morris Chart CSS -->
    <link href="/app/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="/app/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/app/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="/app/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="/app/assets/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <link href="/app/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!--<link href="/app/assets/plugins/morris/morris.css" rel="stylesheet">-->
    <link href="/app/assets/plugins/dropzone/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css">
    <link href="/app/assets/plugins/magnific-popup/css/magnific-popup.css" rel="stylesheet" />
    <link href="/app/assets/plugins/jquery-datatables-editable/datatables.css" rel="stylesheet" />
    <link href="/app/assets/plugins/custombox/css/custombox.css" rel="stylesheet" />
    <link href="/app/assets/plugins/summernote/summernote.css" rel="stylesheet" />
    <link href="/app/assets/plugins/jquery-filer/src/jquery.fileuploader.css" rel="stylesheet" type="text/css" />
    <link href="/app/assets/plugins/jquery-filer/examples/thumbnails/css/jquery.fileuploader-theme-thumbnails.css" rel="stylesheet" type="text/css" />
    <link href="/app/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/app/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/app/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/app/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/app/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/app/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/app/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="/app/assets/js/modernizr.min.js"></script>
    <style>
    .waves-effect .label-pink {
        margin-right: 20px;
    }
    
    .nav-title {
        height: 60px;
    }
    
    .nav-title > img{
        height: 40px;
        margin-top: 10px;
        width: auto;
    }
    
    ul li ul li .label-pink {
        margin-right: 15px;
        margin-top: 10px;
    }
    </style>
</head>
{% endblock %} {% block body %}

<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <button class="button-menu-mobile open-left waves-effect waves-light">
                        <i class="md md-menu"></i>
                    </button>
                </div>
            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="text-center nav-title">
                    <img src="/app/assets/images/logo.png">
                    <ul class="nav navbar-nav navbar-right pull-right">
                            <li class="hidden-xs">
                                <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                            </li>
                            <li class="dropdown top-menu-item-xs">
                                <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><img src="/app/assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/auth/logout"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>
                        <li class="text-muted menu-title">General</li>
                        <li class="has_sub">
                            <a href="/admin" class="waves-effect"><i class=" ti-bell"></i> <span> Dashboard </span></span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/orders" class="waves-effect"><i class="ti-shopping-cart-full"></i><span data-badge="orders"></span><span>Orders</span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/newsletter" class="waves-effect"><i class="ti-email"></i><span>Newsletter</span></a>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0)" class="waves-effect"><i class="ti-user"></i><span data-badge="clients"></span><span> Clients </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="/admin/subscribers"> Subscribers</a></li>
                                <li><span data-badge="clients"></span><a href="/admin/members">Club Members</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/moderators" class="waves-effect"><i class=" ti-settings"></i><span>Moderators</span></a>
                        </li>
                        <li class="text-muted menu-title">Items</li>
                        <li class="has_sub">
                            <a href="/admin/pairings" class="waves-effect"><i class="fi flaticon-bunch-of-grapes"></i><span>Pairings</span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/products" class="waves-effect"><i class="ion-ios7-wineglass"></i><span data-badge="feedback"></span><span> Wines </span> </a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/tours" class="waves-effect"><i class="ti-calendar"></i> <span> Tours </span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/events" class="waves-effect"><i class="ti-calendar"></i> <span> Events </span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/news" class="waves-effect"><i class="ti-pencil-alt"></i><span> News </span></a>
                        </li>
                        <li class="text-muted menu-title">Pages</li>
                        <li class="has_sub">
                            <a href="/admin/pages/home" class="waves-effect"><i class=" ti-home"></i> <span>Home </span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/pages/our-wines" class="waves-effect"><i class="fi flaticon-wine-bottle"></i> <span>Our Wines</span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/pages/wine-tours" class="waves-effect"><i class="icon-directions"></i> <span>Wine Tours</span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/pages/club-membership" class="waves-effect"><i class="icon-present"></i><span>Club Membership</span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/faq" class="waves-effect"><i class="icon-bubbles"></i> <span>FAQ</span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/pages/about" class="waves-effect"><i class="icon-people"></i> <span>About Us</span></a>
                        </li>
                        <li class="has_sub">
                            <a href="/admin/pages/contact" class="waves-effect"><i class="icon-phone"></i> <span>Contact Us</span></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="content-page">
            <div class="content">
                <div class="container">
                    {% include 'messages.html' %} {% block content %} {% endblock %}
                </div>
            </div>
        </div>
        <footer class="footer text-right">
            © 2017. All rights reserved. Powered By Cerberus Team.
        </footer>
    </div>
    {% block footer %}
    <!-- END wrapper -->
    <script>
    var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="/app/assets/js/jquery.min.js"></script>
    <script src="/app/assets/js/bootstrap.min.js"></script>
    <script src="/app/assets/js/detect.js"></script>
    <script src="/app/assets/js/fastclick.js"></script>
    <script src="/app/assets/js/jquery.slimscroll.js"></script>
    <script src="/app/assets/js/jquery.blockUI.js"></script>
    <script src="/app/assets/js/waves.js"></script>
    <script src="/app/assets/js/wow.min.js"></script>
    <script src="/app/assets/js/jquery.nicescroll.js"></script>
    <script src="/app/assets/js/jquery.scrollTo.min.js"></script>
    <!-- jQuery  -->
    <script src="/app/assets/plugins/moment/moment.js"></script>
    <!--<script src="/app/assets/plugins/morris/morris.min.js"></script>-->
    <script src="/app/assets/plugins/raphael/raphael-min.js"></script>
    <script src="/app/assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <!-- Todojs  -->
    <script src="/app/assets/pages/jquery.todo.js"></script>
    <!-- chatjs  -->
    <script src="/app/assets/pages/jquery.chat.js"></script>
    <script src="/app/assets/plugins/peity/jquery.peity.min.js"></script>
    <script src="/app/assets/js/jquery.core.js"></script>
    <script src="/app/assets/js/jquery.app.js"></script>
    <!-- Make call for orders and feedback count -->
    <script>
    $(function() {
        $.ajax({
            url: '/admin/common/badges',
            type: 'get',
            success: function(response) {
                var $inputs = $('[data-badge]'),
                    key, $el;
                $inputs.each(function(key, item) {
                    $el = $(item);
                    key = $el.data('badge');
                    if (response.data[key]) {
                        $el.html('<span class="label label-pink pull-right">' + (response.data[key]) + '</span>')
                    }
                });
            }
        });

        //Upload box image click open fileuploader
        $('body').on('click', '.image-popup', function(e) {
            e.preventDefault();
            $(this).parent().find('.filestyle').trigger('click');
        });
    });
    </script>
    {% endblock %} {% block customscripts %} {% endblock %}
</body>
{% endblock %}

</html>
