{% for message in messages %}
<div class="alert alert-{{ message.type }} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <span class="alert-message">
        {% if message %}
            {{ message.message }}
        {% endif %}
    </span>
</div>
{% endfor %}
